<P> <img src="https://i.ibb.co/gyNf19D/nhslogo.png" alt="nhslogo" border="0" width="100" align="right"><font size="6"><b> CS4132 Data Analytics</b> </font>

# Effect of air quality and pollution on respiratory related health issues 
## by Teoh Yu Xin (M21405)

# Table of Content (with relevant hyperlinks to sections)

# Motivation and background

Give an overview of the project, motivation, background and goals.

# Summary of research questions AND RESULTS

Repeat your research questions in a numbered list. After each research question, clearly state the answer you determined. Don't give details or justifications yet â€” just the answer

1. How does different kinds of air pollution affect the health of people in the region?

    Air pollution can be factored by different kinds of air pollutants, namely particulate matter (PM 2.5 and PM 10), ground level ozone (O3), carbon monoxide (CO), nitrogen dioxide (NO2), sulfur dioxide (SO2) in the environment. There are many factors to which an increase in respiratory related diseases can be brought about, therefore I would like to find out whether there is an impact and the extent different air pollutants worsens the health of people. Health of people can be defined as the number of cases of respiratory related diseases or mortality rate.
    
    
2. How does worsened air pollution affect the risk of different respiratory related diseases differently?

    There are many respiratory related diseases such as respiratory infections, pulmonary heart disease and lung cancer which may be affected by air pollution to different extents. I would like to find out which respiratory related disease is the most adversely affected by air pollution if any (i.e. a small decrease in air quality can significantly increase the risk of having a particular respiratory related disease). 
    

3. Does the effect of air pollution in a region affect the health of people of different genders differently?

    I want to find out how air pollution affects different genders differently or equally, whether there is a significant difference to which the extent of health is adversely affected based on gender alone.
    
    
4. How does the air quality effect on health of people vary across different years?
    
    With the improvement of healthcare provision over the years, the health of people is expected to improve over the years. However, with the advancement of society, there has been increased air pollution. Therefore, I want to find out how air quality effect on the health of people has varied across the past few years, whether the correlation (if any) between the number of respiratory related diseases and concentration of air pollutants is stronger or weaker across different years.


5. How does the air quality effect on health of people vary across different geographical locations?

    The relationship (if any) between the number of respiratory related diseases and concentration of air pollutants may be stronger or weaker based on the geographical locations. Therefore, I would like to find out if this is true and how large of a variety it is.

# Dataset

Numbered list of dataset (with downloadable links) and a brief description of each dataset used. Draw reference to the numbering when describing methodology (data cleaning and analysis).
1. air_pollutant_co2.csv (Singapore Data for CO2 Emissions from fossil fuel combustion)
2. air_pollutant_lead.csv (Singaopre Data for Lead)
3. air_pollution_exposure (Collation of other Singapore pollution data)
4. aqi_breakpoints.csv (Standard table for AQI Breakpoints of different pollutants)
5. death-rates-from-air-pollution.csv (number of deaths per 100 000 based on different types of pollution)
6. disease-burden-by-risk-factor.csv (number of DALYS (disability adjusted life years) per 100 000 based on different types of pollution)
7. parameters.csv (standard units for AQI breakpoints)
8. pneumonia-death-rates-age-standardized.csv (number of deaths per 100 000 for lower respiratory infections)
9. respiratory-disease-death-rate.csv (number of deaths per 100 000 for chronic respiratory disease)
10. singstat_subcollation.csv (collation of pollutant emissions in Singapore)
11. stats_oecd_pollutants.csv (amount of pollutant emissions by year, by country)
12. who_respiratory_pollution_caused_rate.csv (number of attributed deaths per 100 000 due to different respiratory diseases)
13. https://en.wikipedia.org/wiki/List_of_countries_by_past_and_projected_future_population (population by country from 1950 to 2050, only used till 2020)
14. https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes (country codes corresponding to countries)
15. https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_area (land area by country)

# Methodology (algorithm or analysis)

You should demonstrate the data science life cycle here (from data acquisition to cleaning to EDA and analysis etc).
For data cleaning, be clear in which dataset (or variables) are used, what has been done for missing data, how was merging performed, explanation of data transformation (if any).
If data is calculated or summarized from the raw dataset, explain the rationale and steps clearly.

### Data Acquisition

#### Singapore Data

In [1]:
#relevant imports
import requests, pandas as pd, numpy as np
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt 
import seaborn as sns

#singapore dataset links
singapore_subcollation = "singstat_subcollation.csv"
singapore_lead = "air_pollutant_lead.csv"
singapore_co2 = "air_pollutant_co2.csv"

#### Global Data

In [2]:
#world dataset links
world_oecd_pm25 = "air_pollution_exposure.csv"
world_oecd_pollutants = "stats_oecd_pollutants.csv"
who_attributeddeaths = "who_respiratory_pollution_caused_rate.csv"

#owid stands for our world in data
owid_death_rates_air_pollution = "death-rates-from-air-pollution.csv"
owid_dalys_air_pollution_risk = "disease-burden-by-risk-factor.csv"
owid_death_pneumonia = "pneumonia-death-rates-age-standardized.csv"
owid_death_rate_respiratory_disease = "respiratory-disease-death-rate.csv"


#world air quality index
waqi_2015 = "waqi-covid19-airqualitydata-2015H1.csv"
waqi_2016 = "waqi-covid19-airqualitydata-2016H1.csv"
waqi_2017 = "waqi-covid19-airqualitydata-2017H1.csv"
waqi_2018 = "waqi-covid19-airqualitydata-2018H1.csv"
waqi_2019Q1 = "waqi-covid19-airqualitydata-2019Q1.csv"
waqi_2019Q2 = "waqi-covid19-airqualitydata-2019Q2.csv"
waqi_2019Q3 = "waqi-covid19-airqualitydata-2019Q3.csv"
waqi_2019Q4 = "waqi-covid19-airqualitydata-2019Q1.csv"
waqi_2020Q1 = "waqi-covid19-airqualitydata-2020Q1.csv"
waqi_2020Q2 = "waqi-covid19-airqualitydata-2020Q2.csv"
waqi_2020Q3 = "waqi-covid19-airqualitydata-2020Q3.csv"
waqi_2020Q4 = "waqi-covid19-airqualitydata-2020Q1.csv"
waqi_2021 = "waqi-covid19-airqualitydata-2021.csv"

#### Calculation Data

In [3]:
#global categorical data for calculation and categorising
aqi_breakpoints = "aqi_breakpoints.csv"
aqi_breakpoints_units = "parameters.csv"
country_population = "https://en.wikipedia.org/wiki/List_of_countries_by_past_and_projected_future_population"
country_code = "https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes"
country_area = "https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_area"

aqi_breakpoints_data = pd.read_csv(aqi_breakpoints)
aqi_breakpoints_units_data = pd.read_csv(aqi_breakpoints_units)
country_population_url = requests.get(country_population)
country_population_data = pd.read_html(country_population_url.text)
country_population_data_1950_1980 = country_population_data[0]
country_population_data_1985_2015 = country_population_data[1]
country_population_data_2020_2050 = country_population_data[2]
country_code_url = requests.get(country_code)
country_code_data = pd.read_html(country_code_url.text)
country_code_data = country_code_data[0]

#### Processing and Reading Raw Data

In [4]:
singapore_subcollation_data = pd.read_csv(singapore_subcollation,skiprows=4,skipfooter=25,engine='python')
singapore_lead_data = pd.read_csv(singapore_lead)
singapore_co2_data = pd.read_csv(singapore_co2)
world_oecd_pm25_data = pd.read_csv(world_oecd_pm25)
world_oecd_pollutants_data = pd.read_csv(world_oecd_pollutants,dtype={"Value":"float64"},low_memory=False)
who_attributeddeaths_data = pd.read_csv(who_attributeddeaths)
owid_death_rates_air_pollution_data = pd.read_csv(owid_death_rates_air_pollution)
owid_dalys_air_pollution_risk_data = pd.read_csv(owid_dalys_air_pollution_risk)
owid_death_pneumonia_data = pd.read_csv(owid_death_pneumonia)
owid_death_rate_respiratory_disease_data = pd.read_csv(owid_death_rate_respiratory_disease)

waqi_2015_data = pd.read_csv(waqi_2015,skiprows=4)

In [5]:
singapore_subcollation_data

,Variables,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 15
0,Sulphur Dioxide (Maximum 24-hour Mean) * (Mic...,84.0,80.0,93.0,104.0,80.0,98.0,75.0,83.0,75.0,61.0,59.0,65.0,57.0,30.0,NaN
1,Nitrogen Dioxide (Annual Mean) * (Microgram P...,22.0,22.0,22.0,23.0,25.0,25.0,25.0,24.0,22.0,26.0,25.0,26.0,23.0,20.0,NaN
2,Nitrogen Dioxide (Maximum 1-hour Mean) * (Mic...,177.0,126.0,147.0,153.0,189.0,154.0,132.0,121.0,99.0,123.0,158.0,147.0,156.0,118.0,NaN
3,Particulate Matter (PM10) (Annual Mean) * (Mi...,27.0,25.0,29.0,26.0,27.0,29.0,31.0,30.0,37.0,26.0,25.0,29.0,30.0,25.0,NaN
4,Particulate Matter (PM10) (99th Percentile 24...,53.0,49.0,59.0,76.0,55.0,57.0,215.0,75.0,186.0,61.0,57.0,59.0,90.0,43.0,NaN
5,Particulate Matter (PM2.5) (Annual Mean) * (M...,19.0,16.0,19.0,17.0,17.0,19.0,20.0,18.0,24.0,15.0,14.0,15.0,16.0,11.0,NaN
6,Particulate Matter (PM2.5) (99th Percentile 2...,37.0,32.0,44.0,56.0,41.0,42.0,176.0,51.0,145.0,40.0,34.0,32.0,62.0,24.0,NaN
7,Carbon Monoxide (Maximum 8-hour Mean) * (Mill...,1.7,1.6,1.9,2.4,2.0,1.9,5.5,1.8,3.3,2.2,1.7,2.0,1.7,1.2,NaN
8,Carbon Monoxide (Maximum 1-hour Mean) * (Mill...,2.5,2.3,3.9,2.8,2.6,2.4,7.5,2.7,3.5,2.7,2.3,2.5,2.3,1.6,NaN
9,Ozone (Maximum 8-hour Mean) * (Microgram Per ...,206.0,183.0,105.0,139.0,123.0,122.0,139.0,135.0,152.0,115.0,191.0,150.0,125.0,145.0,NaN

In [6]:
singapore_lead_data

    year lead_mean
0   2006      <0.1
1   2007      <0.1
2   2008      <0.1
3   2009      <0.1
4   2010      <0.1
5   2011      <0.1
6   2012      <0.1
7   2013      <0.1
8   2014      <0.1
9   2015      <0.1
10  2016      <0.1
11  2017      <0.1
12  2018      <0.1
13  2019      <0.1

In [7]:
singapore_co2_data
#this one is from fossil fuel combustion

   year  co2_emissions
0  2007          39905
1  2008          38524
2  2009          39465
3  2010          43122
4  2011          45281
5  2012          41540
6  2013          43201

In [8]:
world_oecd_pm25_data

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,AUS,POLLUTIONEXP,EXPOS2PM25,MICGRCUBM,A,1990,7.60250,NaN
1,AUS,POLLUTIONEXP,EXPOS2PM25,MICGRCUBM,A,1995,7.49591,NaN
2,AUS,POLLUTIONEXP,EXPOS2PM25,MICGRCUBM,A,2000,7.36613,NaN
3,AUS,POLLUTIONEXP,EXPOS2PM25,MICGRCUBM,A,2005,6.90976,NaN
4,AUS,POLLUTIONEXP,EXPOS2PM25,MICGRCUBM,A,2010,6.78718,NaN
...,...,...,...,...,...,...,...,...
4867,EU27_2020,POLLUTIONEXP,EXPOS2PM25,PC_POP,A,2015,84.77171,NaN
4868,EU27_2020,POLLUTIONEXP,EXPOS2PM25,PC_POP,A,2016,77.74341,NaN
4869,EU27_2020,POLLUTIONEXP,EXPOS2PM25,PC_POP,A,2017,77.76907,NaN
4870,EU27_2020,POLLUTIONEXP,EXPOS2PM25,PC_POP,A,2018,78.64124,NaN
4871,EU27_2020,POLLUTIONEXP,EXPOS2PM25,PC_POP,A,2019,77.47267,NaN

In [9]:
world_oecd_pollutants_data

,COU,Country,POL,Pollutant,VAR,Variable,YEA,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,SOX,Sulphur Oxides,TOT,Total man-made emissions,1990,1990,TONNE,Tonnes,3,Thousands,NaN,NaN,1585.754,NaN,NaN
1,AUS,Australia,SOX,Sulphur Oxides,TOT,Total man-made emissions,1991,1991,TONNE,Tonnes,3,Thousands,NaN,NaN,1570.777,NaN,NaN
2,AUS,Australia,SOX,Sulphur Oxides,TOT,Total man-made emissions,1992,1992,TONNE,Tonnes,3,Thousands,NaN,NaN,1652.946,NaN,NaN
3,AUS,Australia,SOX,Sulphur Oxides,TOT,Total man-made emissions,1993,1993,TONNE,Tonnes,3,Thousands,NaN,NaN,1743.161,NaN,NaN
4,AUS,Australia,SOX,Sulphur Oxides,TOT,Total man-made emissions,1994,1994,TONNE,Tonnes,3,Thousands,NaN,NaN,1764.906,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95310,CRI,Costa Rica,NOX,Nitrogen Oxides,STAT_COMB_OTHER,Other combustion,2015,2015,TONNE,Tonnes,3,Thousands,NaN,NaN,1.180,NaN,NaN
95311,CRI,Costa Rica,CO,Carbon Monoxide,STAT_IND_PROC,Industrial processes and product use,2015,2015,TONNE,Tonnes,3,Thousands,NaN,NaN,0.000,NaN,NaN
95312,CRI,Costa Rica,CO,Carbon Monoxide,STAT_COMB,Combustion,2015,2015,TONNE,Tonnes,3,Thousands,NaN,NaN,35.120,NaN,NaN
95313,CRI,Costa Rica,NOX,Nitrogen Oxides,MISC_WASTE,Waste,2015,2015,TONNE,Tonnes,3,Thousands,NaN,NaN,0.000,NaN,NaN
95314,CRI,Costa Rica,NOX,Nitrogen Oxides,MISC,Miscellaneous,2015,2015,TONNE,Tonnes,3,Thousands,NaN,NaN,0.000,NaN,NaN

In [10]:
who_attributeddeaths_data

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,AIR_5,Ambient air pollution attributable death rate ...,numeric,AFR,Africa,Country,MWI,Malawi,Year,2016,...,NaN,NaN,0.022,NaN,0.061,0.04 [0.022 â€“ 0.061],NaN,NaN,EN,2018-07-05T16:00:00.000Z
1,AIR_5,Ambient air pollution attributable death rate ...,numeric,AFR,Africa,Country,NER,Niger,Year,2016,...,NaN,NaN,0.032,NaN,0.062,0.047 [0.032 â€“ 0.062],NaN,NaN,EN,2018-07-05T16:00:00.000Z
2,AIR_5,Ambient air pollution attributable death rate ...,numeric,AFR,Africa,Country,TZA,United Republic of Tanzania,Year,2016,...,NaN,NaN,0.029,NaN,0.076,0.051 [0.029 â€“ 0.076],NaN,NaN,EN,2018-07-05T16:00:00.000Z
3,AIR_5,Ambient air pollution attributable death rate ...,numeric,AFR,Africa,Country,TZA,United Republic of Tanzania,Year,2016,...,NaN,NaN,0.031,NaN,0.083,0.055 [0.031 â€“ 0.083],NaN,NaN,EN,2018-07-05T16:00:00.000Z
4,AIR_5,Ambient air pollution attributable death rate ...,numeric,AFR,Africa,Country,MWI,Malawi,Year,2016,...,NaN,NaN,0.030,NaN,0.086,0.056 [0.03 â€“ 0.086],NaN,NaN,EN,2018-07-05T16:00:00.000Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3289,AIR_5,Ambient air pollution attributable death rate ...,numeric,EUR,Europe,Country,UKR,Ukraine,Year,2016,...,NaN,NaN,72.370,NaN,113.300,92.97 [72.37 â€“ 113.3],NaN,NaN,EN,2018-07-05T16:00:00.000Z
3290,AIR_5,Ambient air pollution attributable death rate ...,numeric,EUR,Europe,Country,UKR,Ukraine,Year,2016,...,NaN,NaN,69.010,NaN,117.400,93.01 [69.01 â€“ 117.4],NaN,NaN,EN,2018-07-05T16:00:00.000Z
3291,AIR_5,Ambient air pollution attributable death rate ...,numeric,EUR,Europe,Country,UKR,Ukraine,Year,2016,...,NaN,NaN,64.720,NaN,122.900,93.05 [64.72 â€“ 122.9],NaN,NaN,EN,2018-07-05T16:00:00.000Z
3292,AIR_5,Ambient air pollution attributable death rate ...,numeric,EUR,Europe,Country,BLR,Belarus,Year,2016,...,NaN,NaN,69.350,NaN,122.800,95.15 [69.35 â€“ 122.8],NaN,NaN,EN,2018-07-05T16:00:00.000Z
3293,AIR_5,Ambient air pollution attributable death rate ...,numeric,SEAR,South-East Asia,Country,PRK,Democratic People's Republic of Korea,Year,2016,...,NaN,NaN,81.170,NaN,112.900,96.42 [81.17 â€“ 112.9],NaN,NaN,EN,2018-07-05T16:00:00.000Z

In [11]:
owid_death_rates_air_pollution_data

,Entity,Code,Year,Deaths - Air pollution - Sex: Both - Age: Age-standardized (Rate),Deaths - Household air pollution from solid fuels - Sex: Both - Age: Age-standardized (Rate),Deaths - Ambient particulate matter pollution - Sex: Both - Age: Age-standardized (Rate),Deaths - Ambient ozone pollution - Sex: Both - Age: Age-standardized (Rate)
0,Afghanistan,AFG,1990,299.477309,250.362910,46.446589,5.616442
1,Afghanistan,AFG,1991,291.277967,242.575125,46.033841,5.603960
2,Afghanistan,AFG,1992,278.963056,232.043878,44.243766,5.611822
3,Afghanistan,AFG,1993,278.790815,231.648134,44.440148,5.655266
4,Afghanistan,AFG,1994,287.162923,238.837177,45.594328,5.718922
...,...,...,...,...,...,...,...
6463,Zimbabwe,ZWE,2013,143.850145,113.456097,27.589603,4.426291
6464,Zimbabwe,ZWE,2014,138.200536,108.703566,26.760618,4.296971
6465,Zimbabwe,ZWE,2015,132.752553,104.340506,25.715415,4.200907
6466,Zimbabwe,ZWE,2016,128.692138,100.392287,25.643570,4.117173
6467,Zimbabwe,ZWE,2017,125.028843,96.235996,26.166182,4.052495

In [12]:
owid_dalys_air_pollution_risk_data

,Entity,Code,Year,DALYs (Disability-Adjusted Life Years) - Air pollution - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Child wasting - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Child stunting - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Secondhand smoke - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Unsafe sanitation - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Unsafe water source - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Low physical activity - Sex: Both - Age: All Ages (Number),...,DALYs (Disability-Adjusted Life Years) - Diet low in fruits - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Iron deficiency - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Zinc deficiency - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Diet high in sodium - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Diet low in vegetables - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Vitamin A deficiency - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - Smoking - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - High systolic blood pressure - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - High fasting plasma glucose - Sex: Both - Age: All Ages (Number),DALYs (Disability-Adjusted Life Years) - High body-mass index - Sex: Both - Age: All Ages (Number)
0,Afghanistan,AFG,1990,1.396895e+06,1.986646e+06,9.051669e+05,211581.261894,521511.931474,6.691367e+05,98784.241096,...,244040.521758,73863.476837,43581.723164,70564.871247,208536.854859,8.482118e+05,179568.851521,697308.420018,582730.954783,246898.360923
1,Afghanistan,AFG,1991,1.372209e+06,1.945396e+06,8.934228e+05,208935.686668,508979.975154,6.534517e+05,99448.821844,...,246864.964365,77015.887827,45674.766408,70591.082392,211449.933680,8.479602e+05,180019.539853,703139.826130,589436.491126,248043.368472
2,Afghanistan,AFG,1992,1.427254e+06,2.020055e+06,9.246678e+05,218153.716392,531882.119225,6.833615e+05,102373.508494,...,258888.740805,93567.511646,48884.415777,72652.814886,221851.914800,8.934904e+05,184067.482461,726831.681811,612708.111849,258307.058194
3,Afghanistan,AFG,1993,1.684234e+06,2.443222e+06,1.069002e+06,255940.120953,711012.533845,9.143711e+05,106006.567727,...,274598.209012,112954.409809,59514.526874,74740.768428,235158.022303,1.046485e+06,189341.513275,755837.214149,640742.564216,270436.193299
4,Afghanistan,AFG,1994,1.906674e+06,2.883149e+06,1.238041e+06,288758.236266,790743.749812,1.017927e+06,108725.626545,...,285333.186410,120577.598157,75547.326201,75673.699277,245034.113072,1.180348e+06,193668.984676,776509.893752,659647.288307,276880.623406
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6463,Zimbabwe,ZWE,2013,4.601579e+05,6.188818e+05,1.158929e+05,93633.870593,209036.597030,2.984368e+05,18937.880120,...,102572.040998,92982.419769,15618.558709,27503.878285,69886.104129,1.335579e+05,276388.365532,279535.624695,333843.666002,193232.074609
6464,Zimbabwe,ZWE,2014,4.484828e+05,5.936788e+05,1.109354e+05,91630.678339,199740.278227,2.863758e+05,18961.348125,...,101925.814842,90395.615997,14364.366588,27469.291303,69051.119189,1.298426e+05,271223.244981,278149.922568,334301.714884,195870.226021
6465,Zimbabwe,ZWE,2015,4.365006e+05,5.681117e+05,1.061958e+05,89892.531439,189118.120913,2.726272e+05,19067.424235,...,101856.987261,87708.831198,13331.003508,27585.565328,68558.518880,1.267839e+05,269649.124698,278039.909728,336226.068388,199168.633038
6466,Zimbabwe,ZWE,2016,4.284512e+05,5.438880e+05,9.700625e+04,88703.120445,181817.869480,2.631758e+05,19316.807818,...,102440.830394,84877.903383,12653.496124,27867.399502,68571.506888,1.154255e+05,268279.552494,279957.737248,339949.707027,204466.383665
6467,Zimbabwe,ZWE,2017,4.212560e+05,5.246801e+05,9.015694e+04,87840.018064,179771.843576,2.609816e+05,19650.063744,...,103597.279554,81571.437448,12091.938531,28291.266700,69180.317856,1.082673e+05,267373.753426,283325.174233,343651.770105,210969.428768

In [13]:
owid_dalys_air_pollution_risk_data[owid_dalys_air_pollution_risk_data["Code"].isnull()].Entity.unique()

array(['Andean Latin America', 'Australasia', 'Caribbean', 'Central Asia',
       'Central Europe',
       'Central Europe, Eastern Europe, and Central Asia',
       'Central Latin America', 'Central Sub-Saharan Africa', 'East Asia',
       'Eastern Europe', 'Eastern Sub-Saharan Africa', 'England',
       'High SDI', 'High-income', 'High-income Asia Pacific',
       'High-middle SDI', 'Latin America and Caribbean', 'Low SDI',
       'Low-middle SDI', 'Middle SDI', 'North Africa and Middle East',
       'North America', 'Northern Ireland', 'Oceania', 'Scotland',
       'South Asia', 'Southeast Asia',
       'Southeast Asia, East Asia, and Oceania', 'Southern Latin America',
       'Southern Sub-Saharan Africa', 'Sub-Saharan Africa',
       'Tropical Latin America', 'Wales', 'Western Europe',
       'Western Sub-Saharan Africa'], dtype=object)

In [14]:
owid_death_pneumonia_data

,Entity,Code,Year,Deaths - Lower respiratory infections - Sex: Both - Age: Age-standardized (Rate)
0,Afghanistan,AFG,1990,164.811829
1,Afghanistan,AFG,1991,151.460290
2,Afghanistan,AFG,1992,127.896225
3,Afghanistan,AFG,1993,124.725141
4,Afghanistan,AFG,1994,134.410918
...,...,...,...,...
6463,Zimbabwe,ZWE,2013,153.811116
6464,Zimbabwe,ZWE,2014,148.600446
6465,Zimbabwe,ZWE,2015,144.337533
6466,Zimbabwe,ZWE,2016,140.887702
6467,Zimbabwe,ZWE,2017,137.633004

In [15]:
owid_death_rate_respiratory_disease_data

,Entity,Code,Year,Deaths - Chronic respiratory diseases - Sex: Both - Age: Age-standardized (Rate)
0,Afghanistan,AFG,1990,95.273780
1,Afghanistan,AFG,1991,95.270656
2,Afghanistan,AFG,1992,95.584266
3,Afghanistan,AFG,1993,96.581362
4,Afghanistan,AFG,1994,98.105844
...,...,...,...,...
6463,Zimbabwe,ZWE,2013,67.033739
6464,Zimbabwe,ZWE,2014,64.473769
6465,Zimbabwe,ZWE,2015,62.380257
6466,Zimbabwe,ZWE,2016,60.581842
6467,Zimbabwe,ZWE,2017,59.223255

In [16]:
aqi_breakpoints_data

,Parameter,Parameter Code,Duration Code,Duration Description,AQI Category,Low AQI,High AQI,Low Breakpoint,High Breakpoint
0,Acceptable PM2.5 AQI & Speciation Mass,88502,7,24 HOUR,GOOD,0,50,0.0,12.0
1,Acceptable PM2.5 AQI & Speciation Mass,88502,7,24 HOUR,MODERATE,51,100,12.1,35.4
2,Acceptable PM2.5 AQI & Speciation Mass,88502,7,24 HOUR,UNHEALTHY FOR SENSITIVE,101,150,35.5,55.4
3,Acceptable PM2.5 AQI & Speciation Mass,88502,7,24 HOUR,UNHEALTHY,151,200,55.5,150.4
4,Acceptable PM2.5 AQI & Speciation Mass,88502,7,24 HOUR,VERY UNHEALTHY,201,300,150.5,250.4
...,...,...,...,...,...,...,...,...,...
82,Sulfur dioxide,42401,X,24-HR BLK AVG,NONE,-1,-1,0.0,304.0
83,Sulfur dioxide,42401,X,24-HR BLK AVG,VERY UNHEALTHY,201,300,305.0,604.0
84,Sulfur dioxide,42401,X,24-HR BLK AVG,HAZARDOUS,301,400,605.0,804.0
85,Sulfur dioxide,42401,X,24-HR BLK AVG,HAZARDOUS,401,500,805.0,1004.0
86,Sulfur dioxide,42401,X,24-HR BLK AVG,HAZARDOUS,501,999,1005.0,99999.0

In [17]:
aqi_breakpoints_units_data

,Parameter Code,Parameter,Parameter Abbreviation,Parameter Alternate Name,CAS Number,Standard Units,Still Valid,Round or Truncate
0,43834,"1,1,1,2,2-Pentafluoroethane",NaN,HFC-125,354-33-6,Parts per billion Carbon,YES,R
1,43837,"1,1,1,2-Tetrachloroethane",NaN,NaN,630-20-6,Parts per billion Carbon,YES,R
2,43162,"1,1,1-Trichloro-2,2-bis (p-chlorophenyl) ethane",TRICH,NaN,50-29-3,Nanograms/cubic meter (25 C),YES,R
3,43818,"1,1,2,2-Tetrachloroethane",4CLET,"Ethane,1,1,2,2-tetrachloro-",79-34-5,Parts per billion Carbon,YES,R
4,43821,"1,1,2-Trichloro-1,2,2-trifluoroethane",NaN,NaN,76-13-1,Parts per billion Carbon,YES,R
...,...,...,...,...,...,...,...,...
1472,82185,Zirconium PM10 STP,ZRPM1,NaN,7440-67-7,Nanograms/cubic meter (25 C),YES,R
1473,86185,Zirconium PM10-2.5 LC,NaN,NaN,7440-67-7,Micrograms/cubic meter (LC),YES,R
1474,83185,Zirconium PM10-2.5 STP,ZRPMC,NaN,7440-67-7,Micrograms/cubic meter (25 C),YES,R
1475,88185,Zirconium PM2.5 LC,NaN,NaN,7440-67-7,Micrograms/cubic meter (LC),YES,R
1476,84185,Zirconium PM2.5 STP,ZRFMC,NaN,7440-67-7,Micrograms/cubic meter (25 C),YES,R

In [18]:
country_population_data_1950_1980

,Country (or dependent territory),1950,1955,%,1960,%.1,1965,%.2,1970,%.3,1975,%.4,1980,%.5
0,Afghanistan,8151,8892,1.76,9830,2.03,10998,2.27,12431,2.48,14133,2.60,15045,1.26
1,Albania,1228,1393,2.56,1624,3.12,1884,3.02,2157,2.74,2402,2.17,2672,2.16
2,Algeria,8893,9842,2.05,10910,2.08,11964,1.86,13932,3.09,16141,2.99,18807,3.10
3,American Samoa,20,20,0.72,21,0.20,25,4.23,28,2.08,30,1.68,33,1.81
4,Andorra,7,7,0.04,9,6.28,14,10.17,20,7.49,27,6.32,34,4.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,Western Sahara,10,16,11.87,28,11.87,50,12.33,90,12.38,73,-4.16,125,11.47
224,Yemen,4778,5266,1.97,5872,2.20,6511,2.09,7099,1.74,7935,2.25,9133,2.85
225,Zambia,2554,2870,2.36,3255,2.55,3695,2.57,4241,2.80,4849,2.71,5541,2.71
226,Zimbabwe,2854,3410,3.62,4011,3.31,4686,3.16,5515,3.31,6342,2.83,7170,2.49
227,World,2557629,2782099,1.70,3043002,1.81,3350426,1.94,3712698,2.07,4089084,1.95,4451363,1.71

In [19]:
country_code_data

                                         ISO 3166[1]  \
                                     Country name[5]
0                                        Afghanistan
1    Akrotiri and Dhekelia â€“ See United Kingdom, The
2                                      Ã…land Islands
3                                            Albania
4                                            Algeria
..                                               ...
275                                Wallis and Futuna
276                              Western Saharaâ€Š[ah]
277                                            Yemen
278                                           Zambia
279                                         Zimbabwe

                                  Unnamed: 1_level_0  \
                              Official state name[6]
0                The Islamic Republic of Afghanistan
1    Akrotiri and Dhekelia â€“ See United Kingdom, The
2                                              Ã…land
3                            The Republic of Albania
4        The People's Democratic Republic of Algeria
..                                               ...
275   The Territory of the Wallis and Futuna Islands
276             The Sahrawi Arab Democratic Republic
277                            The Republic of Yemen
278                           The Republic of Zambia
279                         The Republic of Zimbabwe

                                  Unnamed: 2_level_0  \
                                Sovereignty[6][7][8]
0                                    UN member state
1    Akrotiri and Dhekelia â€“ See United Kingdom, The
2                                            Finland
3                                    UN member state
4                                    UN member state
..                                               ...
275                                           France
276                                    disputedâ€Š[ai]
277                                  UN member state
278                                  UN member state
279                                  UN member state

                                         ISO 3166-1[2]  \
                                       Alpha-2 code[5]
0    .mw-parser-output .monospaced{font-family:mono...
1      Akrotiri and Dhekelia â€“ See United Kingdom, The
2                                                   AX
3                                                   AL
4                                                   DZ
..                                                 ...
275                                                 WF
276                                                 EH
277                                                 YE
278                                                 ZM
279                                                 ZW

                                                      \
                                     Alpha-3 code[5]
0                                                AFG
1    Akrotiri and Dhekelia â€“ See United Kingdom, The
2                                                ALA
3                                                ALB
4                                                DZA
..                                               ...
275                                              WLF
276                                              ESH
277                                              YEM
278                                              ZMB
279                                              ZWE

                                                      \
                                     Numeric code[5]
0                                                004
1    Akrotiri and Dhekelia â€“ See United Kingdom, The
2                                                248
3                                                008
4                                                012
..                                               ...
275                                              876
276                                              732
277                                              887
278                                              894
279                                              716

                                       ISO 3166-2[3]  \
                           Subdivision code links[3]
0                                      ISO 3166-2:AF
1    Akrotiri and Dhekelia â€“ See United Kingdom, The
2                                      ISO 3166-2:AX
3                                      ISO 3166-2:AL
4                                      ISO 3166-2:DZ
..                                               ...
275                                    ISO 3166-2:WF
276                                    ISO 3166-2:EH
277                                    ISO 3166-2:YE
278                                    ISO 3166-2:ZM
279                                    ISO 3166-2:ZW

                                  Unnamed: 7_level_0
                                   Internet ccTLD[9]
0                                                .af
1    Akrotiri and Dhekelia â€“ See United Kingdom, The
2                                                .ax
3                                                .al
4                                                .dz
..                                               ...
275                                              .wf
276                                             [aj]
277                                              .ye
278                                              .zm
279                                              .zw

[280 rows x 8 columns]

In [ ]:
waqi_2015_data

### Data Cleaning

In [20]:
#preliminary combination of Singapore data
#formatting lead_data to subcollation_data format
singapore_lead_data = singapore_lead_data.rename(columns={"year":"Variables","lead_mean":"LEAD (MICGRCUBM)"})
singapore_lead_data.index = singapore_lead_data["Variables"]
singapore_lead_data.drop(columns=["Variables"],inplace=True)
singapore_lead_data = singapore_lead_data.T
singapore_lead_data.columns

#dropping, striping column strings, change to int
singapore_subcollation_data.drop(columns=["Unnamed: 15"], inplace=True)
singapore_subcollation_data = singapore_subcollation_data.rename(columns={" Variables ":"Variables"})
singapore_subcollation_data.index = singapore_subcollation_data["Variables"]
singapore_subcollation_data.drop(columns=["Variables"], inplace=True)
singapore_subcollation_data.columns = np.arange(2007,2021)

singapore_co2_data = singapore_co2_data.rename(columns={"year":"Variables","co2_emissions":"CO2 (FOSSIL FUEL, KILOTON)"})
singapore_co2_data.index = singapore_co2_data["Variables"]
singapore_co2_data.drop(columns=["Variables"],inplace=True)
singapore_co2_data = singapore_co2_data.T
singapore_subcollation_data = singapore_subcollation_data.rename(
    index={" Sulphur Dioxide (Maximum 24-hour Mean) * (Microgram Per Cubic Metre) ": "SOX (24H,MICGRCUBM)",
          " Nitrogen Dioxide (Annual Mean) * (Microgram Per Cubic Metre) ": "NOX (YR,MICGRCUBM)",
          " Nitrogen Dioxide (Maximum 1-hour Mean) * (Microgram Per Cubic Metre) ":"NOX (1H,MICRCUBM)",
          " Particulate Matter (PM10) (Annual Mean) * (Microgram Per Cubic Metre) ":"PM10 (YR,MICGRCUBM)",
          " Particulate Matter (PM10) (99th Percentile 24-hour Mean) * (Microgram Per Cubic Metre) ":"PM10 (24H,MICGRCUBM)",
          " Particulate Matter (PM2.5) (Annual Mean) * (Microgram Per Cubic Metre) ":"PM2.5 (YR,MICGRCUBM)",
          " Particulate Matter (PM2.5) (99th Percentile 24-hour Mean) * (Microgram Per Cubic Metre) ":"PM2.5 (24H,MICGRCUBM)",
          " Carbon Monoxide (Maximum 8-hour Mean) * (Milligram Per Cubic Metre) ":"CO (8H,MILGRCUBM)",
          " Carbon Monoxide (Maximum 1-hour Mean) * (Milligram Per Cubic Metre) ":"CO (1H,MILGRCUBM)",
          " Ozone (Maximum 8-hour Mean) * (Microgram Per Cubic Metre) ":"O3 (8H,MICGRCUBM)"})

singapore_collated_data = singapore_subcollation_data.append([singapore_lead_data,singapore_co2_data])
singapore_collated_data

,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
"SOX (24H,MICGRCUBM)",NaN,84.0,80.0,93.0,104.0,80.0,98.0,75.0,83.0,75.0,61.0,59.0,65.0,57.0,30.0
"NOX (YR,MICGRCUBM)",NaN,22.0,22.0,22.0,23.0,25.0,25.0,25.0,24.0,22.0,26.0,25.0,26.0,23.0,20.0
"NOX (1H,MICRCUBM)",NaN,177.0,126.0,147.0,153.0,189.0,154.0,132.0,121.0,99.0,123.0,158.0,147.0,156.0,118.0
"PM10 (YR,MICGRCUBM)",NaN,27.0,25.0,29.0,26.0,27.0,29.0,31.0,30.0,37.0,26.0,25.0,29.0,30.0,25.0
"PM10 (24H,MICGRCUBM)",NaN,53.0,49.0,59.0,76.0,55.0,57.0,215.0,75.0,186.0,61.0,57.0,59.0,90.0,43.0
"PM2.5 (YR,MICGRCUBM)",NaN,19.0,16.0,19.0,17.0,17.0,19.0,20.0,18.0,24.0,15.0,14.0,15.0,16.0,11.0
"PM2.5 (24H,MICGRCUBM)",NaN,37.0,32.0,44.0,56.0,41.0,42.0,176.0,51.0,145.0,40.0,34.0,32.0,62.0,24.0
"CO (8H,MILGRCUBM)",NaN,1.7,1.6,1.9,2.4,2.0,1.9,5.5,1.8,3.3,2.2,1.7,2.0,1.7,1.2
"CO (1H,MILGRCUBM)",NaN,2.5,2.3,3.9,2.8,2.6,2.4,7.5,2.7,3.5,2.7,2.3,2.5,2.3,1.6
"O3 (8H,MICGRCUBM)",NaN,206.0,183.0,105.0,139.0,123.0,122.0,139.0,135.0,152.0,115.0,191.0,150.0,125.0,145.0
LEAD (MICGRCUBM),<0.1,<0.1,<0.1,<0.1,<0.1,<0.1,<0.1,<0.1,<0.1,<0.1,<0.1,<0.1,<0.1,<0.1,NaN
"CO2 (FOSSIL FUEL, KILOTON)",NaN,39905,38524,39465,43122,45281,41540,43201,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
#in microgram per cubic metre

#data cleaning of world_oecd_pm25_data

world_oecd_pm25_data.drop(columns=["INDICATOR","SUBJECT","MEASURE","FREQUENCY","Flag Codes"],inplace=True)
world_oecd_pm25_data = world_oecd_pm25_data.rename(columns={"Value": "PM2.5 (MICGRCUBM)","LOCATION":"COUNTRY","TIME":"YEAR"})
# world_oecd_pm25_data.index = world_oecd_pm25_data["COUNTRY"]
# world_oecd_pm25_data.drop(columns=["COUNTRY"],inplace=True)
world_oecd_pm25_data_year_column = pd.pivot_table(world_oecd_pm25_data,index=["COUNTRY"],values=["PM2.5 (MICGRCUBM)"],columns=["YEAR"],aggfunc='mean')
world_oecd_pm25_data

        COUNTRY  YEAR  PM2.5 (MICGRCUBM)
0           AUS  1990            7.60250
1           AUS  1995            7.49591
2           AUS  2000            7.36613
3           AUS  2005            6.90976
4           AUS  2010            6.78718
...         ...   ...                ...
4867  EU27_2020  2015           84.77171
4868  EU27_2020  2016           77.74341
4869  EU27_2020  2017           77.76907
4870  EU27_2020  2018           78.64124
4871  EU27_2020  2019           77.47267

[4872 rows x 3 columns]

In [22]:
world_oecd_pm25_data_year_column

        PM2.5 (MICGRCUBM)                                              \
YEAR                 1990       1995       2000       2005       2010
COUNTRY
AFG             74.672740  74.294640  76.117000  73.301755  76.247925
AGO             64.937710  64.181785  64.069875  64.253540  64.477005
ALB             62.253760  61.912895  62.083730  60.988540  60.772870
ARE             70.446650  70.638535  70.840765  70.549345  70.926015
ARG             57.563955  57.542040  56.887270  52.780560  55.709350
...                   ...        ...        ...        ...        ...
WLD             69.101450  68.048610  69.229580  68.485645  69.058365
YEM             73.670160  71.902885  74.408365  71.828475  72.353470
ZAF             64.369665  64.459585  64.261175  63.357355  64.684260
ZMB             63.105150  62.576995  63.366550  63.081830  63.554505
ZWE             62.228765  61.753410  61.970135  61.820170  62.323900

                                                                           \
YEAR          2011       2012       2013       2014       2015       2016
COUNTRY
AFG      78.549860  77.733055  79.811385  81.360960  80.705785  78.983170
AGO      64.523585  64.636180  64.753190  64.234300  64.634435  64.628930
ALB      61.651165  60.722460  59.963815  59.902945  59.706855  58.839635
ARE      72.164580  72.941715  71.343930  70.016630  72.246415  71.047655
ARG      56.593930  54.167495  57.224095  56.662425  57.157390  56.771105
...            ...        ...        ...        ...        ...        ...
WLD      70.032005  70.390265  70.733165  70.463930  69.571565  68.600130
YEM      74.473130  77.220715  75.716425  71.868840  74.174360  72.518390
ZAF      64.691985  64.526130  64.318305  64.412725  64.513065  64.244610
ZMB      64.103930  64.227945  63.687370  63.717920  64.178685  63.737625
ZWE      63.167720  63.182135  62.788840  63.115800  62.992150  62.697770


YEAR          2017       2018       2019
COUNTRY
AFG      77.015585  76.716105  76.499060
AGO      64.022560  64.154935  64.007340
ALB      59.428940  59.324230  59.224145
ARE      71.166765  71.256645  71.193880
ARG      56.251870  56.268085  56.185850
...            ...        ...        ...
WLD      67.135145  67.267655  67.021290
YEM      73.246820  72.599850  72.263750
ZAF      64.289815  64.220200  64.160770
ZMB      63.124430  63.186680  62.961855
ZWE      61.306665  61.054135  60.423320

[174 rows x 14 columns]

In [23]:
#data cleaning of world_oecd_pollutants

world_oecd_pollutants_data.drop(columns=["Country","Pollutant","Variable","Year","Unit","Reference Period Code",
                                         "Reference Period","PowerCode Code","Flag Codes","Flags"],inplace=True)
world_oecd_pollutants_data = world_oecd_pollutants_data.rename(
    columns={"COU": "COUNTRY","POL":"POLLUTANT","YEA":"YEAR","Value":"VALUE"})
world_oecd_pollutants_data["Unit Code"] = "KILOTON"
world_oecd_pollutants_data.drop(columns=["PowerCode"],inplace=True)
world_oecd_pollutants_data_grouped = world_oecd_pollutants_data.groupby(by=["COUNTRY","POLLUTANT"])[["VALUE"]].sum()
world_oecd_pollutants_data_grouped = pd.pivot_table(world_oecd_pollutants_data,index=["COUNTRY","POLLUTANT"],
                                                    values=["VALUE"],columns=["YEAR"],aggfunc="sum")
world_oecd_pollutants_data

      COUNTRY POLLUTANT              VAR  YEAR Unit Code     VALUE
0         AUS       SOX              TOT  1990   KILOTON  1585.754
1         AUS       SOX              TOT  1991   KILOTON  1570.777
2         AUS       SOX              TOT  1992   KILOTON  1652.946
3         AUS       SOX              TOT  1993   KILOTON  1743.161
4         AUS       SOX              TOT  1994   KILOTON  1764.906
...       ...       ...              ...   ...       ...       ...
95310     CRI       NOX  STAT_COMB_OTHER  2015   KILOTON     1.180
95311     CRI        CO    STAT_IND_PROC  2015   KILOTON     0.000
95312     CRI        CO        STAT_COMB  2015   KILOTON    35.120
95313     CRI       NOX       MISC_WASTE  2015   KILOTON     0.000
95314     CRI       NOX             MISC  2015   KILOTON     0.000

[95315 rows x 6 columns]

In [24]:
world_oecd_pollutants_data_grouped
#value in thousands

                       VALUE                                              \
YEAR                    1990       1991       1992       1993       1994
COUNTRY POLLUTANT
AUS     CO         18956.307  19031.699  19516.703  20222.270  20642.617
        NMVOC       4665.703   4620.486   4631.471   4688.312   4723.063
        NOX         5751.195   5662.502   5804.043   5952.182   5964.240
        SOX         5151.136   5096.456   5352.882   5634.453   5698.658
AUT     CO          4803.458   4836.337   4647.530   4431.931   4188.424
...                      ...        ...        ...        ...        ...
USA     NMVOC      64127.701  63574.928  62953.840  61728.072  60848.198
        NOX        72633.180  72023.740  72429.057  72719.533  72289.515
        PM10       76668.534  75542.530  74899.100  75551.534  78945.618
        PM2-5      21521.608  20861.737  20554.727  20346.111  21421.023
        SOX        67074.782  64817.460  64081.523  63218.670  61981.280

                                                                          ...  \
YEAR                    1995       1996       1997       1998       1999  ...
COUNTRY POLLUTANT                                                         ...
AUS     CO         20132.705  20647.341  20673.745  19515.949  19040.313  ...
        NMVOC       4668.638   4584.423   4567.901   4490.598   4371.424  ...
        NOX         5994.335   6172.417   6371.196   6492.953   6607.677  ...
        SOX         5409.994   5681.019   5864.542   5622.729   5906.158  ...
AUT     CO          3782.165   3807.266   3523.292   3338.441   2869.847  ...
...                      ...        ...        ...        ...        ...  ...
USA     NMVOC      59956.072  52946.675  52352.576  50569.860  49135.859  ...
        NOX        71539.013  70593.455  70920.376  69847.298  64951.314  ...
        PM10       71390.430  63025.665  63160.755  63110.851  64570.367  ...
        PM2-5      19787.237  18966.148  17674.602  17682.844  20439.958  ...
        SOX        54671.653  53413.763  54651.725  54823.017  50308.888  ...

                                                                          \
YEAR                    2009       2010       2011       2012       2013
COUNTRY POLLUTANT
AUS     CO         10566.750  10049.084   9842.651   9815.158   9655.542
        NMVOC       4135.876   4149.707   4154.868   4207.555   4279.481
        NOX         8021.174   8327.726   8175.146   8850.649   9190.942
        SOX         8304.664   7612.402   8013.844   8046.730   7722.496
AUT     CO          2264.266   2337.603   2268.185   2274.379   2296.784
...                      ...        ...        ...        ...        ...
USA     NMVOC      40817.740  41501.241  42274.511  41470.225  40665.970
        NOX        44589.692  42009.054  40820.349  39033.358  37246.415
        PM10       55266.847  54275.009  53632.051  51554.564  49477.134
        PM2-5      14239.012  14207.106  14265.557  13803.808  13342.072
        SOX        25761.226  21908.794  18269.275  14367.279  13730.024


YEAR                    2014       2015       2016       2017       2018
COUNTRY POLLUTANT
AUS     CO          9431.073   9241.697   9000.898   9531.768   8937.055
        NMVOC       4384.802   4421.836   4408.906   4488.503   4444.621
        NOX         9265.866   9214.418   9373.316   9650.179   9911.457
        SOX         7984.327   7597.062   7846.181   7279.032   6754.503
AUT     CO          2148.966   2207.701   2197.990   2165.118   1999.072
...                      ...        ...        ...        ...        ...
USA     NMVOC      39861.737  38347.059  35962.009  34994.831  34345.038
        NOX        35613.833  33233.661  30190.407  28729.978  17987.837
        PM10       47399.746  45597.997  43691.595  41951.353  41987.133
        PM2-5      12880.344  12458.519  11988.445  11624.127  11606.928
        SOX        13178.386  11114.032   9018.172   6985.455   6744.273

[229 rows x 29 columns]

In [25]:
#data cleaning of who_attributeddeaths_data

who_attributeddeaths_data.drop(columns=["IndicatorCode","Indicator","ValueType","ParentLocation","Location type",
                                       "Location","Period type","IsLatestYear","Dim1 type","Dim1","Dim2 type",
                                        "Dim2ValueCode","Dim3 type","Dim3","Dim3ValueCode","DataSourceDimValueCode",
                                        "DataSource","FactValueUoM","FactValueNumericLowPrefix","FactValueNumericPrefix",
                                       "FactValueNumericHighPrefix","Value","FactValueTranslationID","FactComments","Language",
                                       "DateModified"],inplace=True)
who_attributeddeaths_data = who_attributeddeaths_data.rename(
    columns={"ParentLocationCode":"REGION","SpatialDimValueCode":"COUNTRY","Period":"YEAR","FactValueNumericLow":"MIN",
            "FactValueNumericHigh":"MAX","FactValueNumeric":"VALUE","Dim1ValueCode":"SEX","Dim2":"CAUSE"})
who_attributeddeaths_data.drop(columns="COUNTRY")
who_attributeddeaths_data

,REGION,COUNTRY,YEAR,SEX,CAUSE,VALUE,MIN,MAX
0,AFR,MWI,2016,FMLE,"Trachea, bronchus, lung cancers",0.040,0.022,0.061
1,AFR,NER,2016,FMLE,"Trachea, bronchus, lung cancers",0.047,0.032,0.062
2,AFR,TZA,2016,FMLE,"Trachea, bronchus, lung cancers",0.051,0.029,0.076
3,AFR,TZA,2016,BTSX,"Trachea, bronchus, lung cancers",0.055,0.031,0.083
4,AFR,MWI,2016,BTSX,"Trachea, bronchus, lung cancers",0.056,0.030,0.086
...,...,...,...,...,...,...,...,...
3289,EUR,UKR,2016,MLE,Ischaemic heart disease,92.970,72.370,113.300
3290,EUR,UKR,2016,BTSX,Ischaemic heart disease,93.010,69.010,117.400
3291,EUR,UKR,2016,FMLE,Ischaemic heart disease,93.050,64.720,122.900
3292,EUR,BLR,2016,FMLE,Total,95.150,69.350,122.800
3293,SEAR,PRK,2016,MLE,Total,96.420,81.170,112.900

In [26]:
#data cleaning of owid_death_rates_air_pollution_data

owid_death_rates_air_pollution_data.drop(columns=["Entity"],inplace=True)
owid_death_rates_air_pollution_data = owid_death_rates_air_pollution_data.rename(
    columns={"Code":"COUNTRY",
             "Deaths - Air pollution - Sex: Both - Age: Age-standardized (Rate)":"DEATH (AIR POLLUTION PER 100 000)",
            "Deaths - Household air pollution from solid fuels - Sex: Both - Age: Age-standardized (Rate)":"DEATH (HOUSEHOLD PER 100 000)",
            "Deaths - Ambient particulate matter pollution - Sex: Both - Age: Age-standardized (Rate)":"DEATH (PM PER 100 000)",
            "Deaths - Ambient ozone pollution - Sex: Both - Age: Age-standardized (Rate)":"DEATH (OZONE PER 100 000)",
            "Year":"YEAR"})
owid_death_rates_air_pollution_data

,COUNTRY,YEAR,DEATH (AIR POLLUTION PER 100 000),DEATH (HOUSEHOLD PER 100 000),DEATH (PM PER 100 000),DEATH (OZONE PER 100 000)
0,AFG,1990,299.477309,250.362910,46.446589,5.616442
1,AFG,1991,291.277967,242.575125,46.033841,5.603960
2,AFG,1992,278.963056,232.043878,44.243766,5.611822
3,AFG,1993,278.790815,231.648134,44.440148,5.655266
4,AFG,1994,287.162923,238.837177,45.594328,5.718922
...,...,...,...,...,...,...
6463,ZWE,2013,143.850145,113.456097,27.589603,4.426291
6464,ZWE,2014,138.200536,108.703566,26.760618,4.296971
6465,ZWE,2015,132.752553,104.340506,25.715415,4.200907
6466,ZWE,2016,128.692138,100.392287,25.643570,4.117173
6467,ZWE,2017,125.028843,96.235996,26.166182,4.052495

In [27]:
#data cleaning of owid_dalys_air_pollution_risk_data

owid_dalys_air_pollution_risk_data = owid_dalys_air_pollution_risk_data[["Entity","Code","Year",
                                                                        "DALYs (Disability-Adjusted Life Years) - Air pollution - Sex: Both - Age: All Ages (Number)",
                                                                       "DALYs (Disability-Adjusted Life Years) - Ambient particulate matter pollution - Sex: Both - Age: All Ages (Number)",
                                                                       "DALYs (Disability-Adjusted Life Years) - Household air pollution from solid fuels - Sex: Both - Age: All Ages (Number)"]]
owid_dalys_air_pollution_risk_data = owid_dalys_air_pollution_risk_data.rename(
    columns={"DALYs (Disability-Adjusted Life Years) - Air pollution - Sex: Both - Age: All Ages (Number)":"DALYS (Air pollution)",
            "DALYs (Disability-Adjusted Life Years) - Ambient particulate matter pollution - Sex: Both - Age: All Ages (Number)":"DALYS (PM)",
            "DALYs (Disability-Adjusted Life Years) - Household air pollution from solid fuels - Sex: Both - Age: All Ages (Number)":"DALYS (HOUSEHOLD, SOLID FUEL)"})
owid_dalys_air_pollution_risk_data["DALYS (Air pollution)"] = owid_dalys_air_pollution_risk_data["DALYS (Air pollution)"].astype(int)
owid_dalys_air_pollution_risk_data["DALYS (PM)"] = owid_dalys_air_pollution_risk_data["DALYS (PM)"].astype(int)
owid_dalys_air_pollution_risk_data["DALYS (HOUSEHOLD, SOLID FUEL)"] = owid_dalys_air_pollution_risk_data["DALYS (HOUSEHOLD, SOLID FUEL)"].astype(int)
owid_dalys_air_pollution_risk_data.drop(columns=["Entity"],inplace=True)
owid_dalys_air_pollution_risk_data = owid_dalys_air_pollution_risk_data.rename(columns={"Code":"COUNTRY","Year":"YEAR"})
#to give country codes to those without 
owid_dalys_air_pollution_risk_data

,COUNTRY,YEAR,DALYS (Air pollution),DALYS (PM),"DALYS (HOUSEHOLD, SOLID FUEL)"
0,AFG,1990,1396894,207108,1186388
1,AFG,1991,1372209,207126,1161641
2,AFG,1992,1427254,215298,1208403
3,AFG,1993,1684234,254329,1426202
4,AFG,1994,1906673,286731,1616132
...,...,...,...,...,...
6463,ZWE,2013,460157,87920,369494
6464,ZWE,2014,448482,86550,359185
6465,ZWE,2015,436500,84262,349447
6466,ZWE,2016,428451,85182,340427
6467,ZWE,2017,421256,88047,330307

In [28]:
#data cleaning of owid_death_pneumonia_data

owid_death_pneumonia_data.drop(columns=["Entity"],inplace=True)
owid_death_pneumonia_data = owid_death_pneumonia_data.rename(
    columns={"Code":"COUNTRY","Year":"YEAR",
             "Deaths - Lower respiratory infections - Sex: Both - Age: Age-standardized (Rate)":"DEATH (LOWER RESPIRATORY INFECTION PER 100 000)"})
owid_death_pneumonia_data

     COUNTRY  YEAR  DEATH (LOWER RESPIRATORY INFECTION PER 100 000)
0        AFG  1990                                       164.811829
1        AFG  1991                                       151.460290
2        AFG  1992                                       127.896225
3        AFG  1993                                       124.725141
4        AFG  1994                                       134.410918
...      ...   ...                                              ...
6463     ZWE  2013                                       153.811116
6464     ZWE  2014                                       148.600446
6465     ZWE  2015                                       144.337533
6466     ZWE  2016                                       140.887702
6467     ZWE  2017                                       137.633004

[6468 rows x 3 columns]

In [29]:
#data cleaning of owid_death_rate_respiratory_disease_data

owid_death_rate_respiratory_disease_data.drop(columns=["Entity"],inplace=True)
owid_death_rate_respiratory_disease_data = owid_death_rate_respiratory_disease_data.rename(
    columns={"Code":"COUNTRY","Year":"YEAR",
             "Deaths - Chronic respiratory diseases - Sex: Both - Age: Age-standardized (Rate)":"DEATH (CHRONIC RESPIRATORY DISEASE PER 100 000)"})
owid_death_rate_respiratory_disease_data

     COUNTRY  YEAR  DEATH (CHRONIC RESPIRATORY DISEASE PER 100 000)
0        AFG  1990                                        95.273780
1        AFG  1991                                        95.270656
2        AFG  1992                                        95.584266
3        AFG  1993                                        96.581362
4        AFG  1994                                        98.105844
...      ...   ...                                              ...
6463     ZWE  2013                                        67.033739
6464     ZWE  2014                                        64.473769
6465     ZWE  2015                                        62.380257
6466     ZWE  2016                                        60.581842
6467     ZWE  2017                                        59.223255

[6468 rows x 3 columns]

In [30]:
#data cleaning of country_population_data and merging to change country name to country code

country_population_data_1950_1980.rename(columns={"Country (or dependent territory)":"COUNTRY NAME","%":"1950 %",
                                                 "%.1":"1955 %","%.2":"1965 %","%.3":"1970 %","%.4":"1975 %",
                                                 "%.5":"1980 %"},inplace=True)
country_population_data_1985_2015.rename(columns={"Country (or dependent territory)":"COUNTRY NAME","%":"1985 %",
                                                 "%.1":"1990 %","%.2":"1995 %","%.3":"2000 %","%.4":"2005 %",
                                                 "%.5":"2010 %","%.6":"2015 %"},inplace=True)
country_population_data_2020_2050.rename(columns={"Country (or dependent territory)":"COUNTRY NAME","%":"2020 %",
                                                 "%.1":"2025 %","%.2":"2030 %","%.3":"2035 %","%.4":"2040 %",
                                                 "%.5":"2045 %","%.6":"2050 %"},inplace=True)

country_code_data = pd.concat([country_code_data["ISO 3166[1]","Country name[5]"],
                               country_code_data["ISO 3166-1[2]","Alpha-3 code[5]"]],axis=1)
country_code_data.columns=country_code_data.columns.droplevel()
country_code_data = country_code_data.rename(columns={"Country name[5]":"COUNTRY NAME","Alpha-3 code[5]":"COUNTRY"})
country_code_data = country_code_data[country_code_data["COUNTRY"].str.len()==3]
country_code_data_str_name = country_code_data["COUNTRY NAME"].str.split("[") 
country_code_data["COUNTRY NAME"] = country_code_data_str_name.str.get(0)
country_code_data_str_name = country_code_data["COUNTRY NAME"].str.split("(") 
country_code_data["COUNTRY NAME"] = country_code_data_str_name.str.get(0)
country_code_data["COUNTRY NAME"] = country_code_data["COUNTRY NAME"].str.strip()

country_population_data = country_population_data_1950_1980.set_index("COUNTRY NAME").join(
    [country_population_data_1985_2015.set_index('COUNTRY NAME'),country_population_data_2020_2050.set_index('COUNTRY NAME'),
     country_code_data.set_index("COUNTRY NAME")])
country_population_data.drop(index=["World"],inplace=True)
# pd.set_option("display.max_rows", None, "display.max_columns", None)
country_population_data
#in thousand

,1950,1955,1950 %,1960,1955 %,1965,1965 %,1970,1970 %,1975,...,2030 %,2035,2035 %,2040,2040 %,2045,2045 %,2050,2050 %,COUNTRY
COUNTRY NAME,,,,,,,,,,,,,,,,,,,,,
Afghanistan,8151,8892,1.76,9830,2.03,10998,2.27,12431,2.48,14133,...,2.12,50195,1.91,54717,1.74,59256,1.61,63796,1.49,AFG
Albania,1228,1393,2.56,1624,3.12,1884,3.02,2157,2.74,2402,...,-0.01,3063,-0.26,2994,-0.45,2913,-0.55,2825,-0.61,ALB
Algeria,8893,9842,2.05,10910,2.08,11964,1.86,13932,3.09,16141,...,0.99,50118,0.80,52030,0.75,53894,0.71,55445,0.57,DZA
American Samoa,20,20,0.72,21,0.20,25,4.23,28,2.08,30,...,-0.32,52,-0.45,51,-0.45,50,-0.29,50,-0.06,ASM
Andorra,7,7,0.04,9,6.28,14,10.17,20,7.49,27,...,-0.21,83,-0.30,82,-0.46,79,-0.69,75,-0.93,AND
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wallis and Futuna,7,8,1.26,8,1.26,9,1.02,9,0.95,9,...,0.08,17,-0.06,16,-0.15,16,-0.19,16,-0.22,WLF
Western Sahara,10,16,11.87,28,11.87,50,12.33,90,12.38,73,...,2.23,909,2.04,998,1.87,1086,1.71,1174,1.57,ESH
Yemen,4778,5266,1.97,5872,2.20,6511,2.09,7099,1.74,7935,...,1.67,38437,1.51,41142,1.37,43710,1.22,46081,1.06,YEM
Zambia,2554,2870,2.36,3255,2.55,3695,2.57,4241,2.80,4849,...,2.85,26546,2.79,30339,2.71,34497,2.60,38993,2.48,ZMB
Zimbabwe,2854,3410,3.62,4011,3.31,4686,3.16,5515,3.31,6342,...,1.62,20282,1.51,21840,1.49,23492,1.47,25199,1.41,ZWE

#### Manual intervention is done to countries stated above as the country name cannot be matched to the country code due to spelling error or additional words.

In [31]:
country_population_data.loc["British Virgin Islands","COUNTRY"] = "VGB"
country_population_data.loc["Brunei","COUNTRY"] = "BRN"
country_population_data.loc["Cape Verde","COUNTRY"] = "CPV"
country_population_data.loc["Czech Republic","COUNTRY"] = "CZE"
country_population_data.loc["Democratic Republic of the Congo","COUNTRY"] = "COD"
country_population_data.loc["Federated States of Micronesia","COUNTRY"] = "FSM"
country_population_data.loc["Ivory Coast","COUNTRY"] = "CIV"
country_population_data.loc["Laos","COUNTRY"] = "LAO"
country_population_data.loc["Macau","COUNTRY"] = "MAC"
country_population_data.loc["North Korea","COUNTRY"] = "PRK"
country_population_data.loc["Palestine","COUNTRY"] = "PSE"
country_population_data.loc["Republic of the Congo","COUNTRY"] = "COG"
country_population_data.loc["Russia","COUNTRY"] = "RUS"
country_population_data.loc["Saint Helena, Ascension and Tristan da Cunha","COUNTRY"] = "SHN"
country_population_data.loc["South Korea","COUNTRY"] = "KOR"
country_population_data.loc["Syria","COUNTRY"] = "SYR"
country_population_data.loc["SÃ£o TomÃ© and PrÃ­ncipe","COUNTRY"] = "STP"
country_population_data.loc["Tanzania","COUNTRY"] = "TZA"
country_population_data.loc["United Kingdom","COUNTRY"] = "GBR"
country_population_data.loc["United States","COUNTRY"] = "USA"
country_population_data.loc["United States Virgin Islands","COUNTRY"] = "VIR"
country_population_data.loc["Vietnam","COUNTRY"] = "VNM"
country_population_data.drop(index={"Kosovo"},inplace=True)
country_population_data

,1950,1955,1950 %,1960,1955 %,1965,1965 %,1970,1970 %,1975,...,2030 %,2035,2035 %,2040,2040 %,2045,2045 %,2050,2050 %,COUNTRY
COUNTRY NAME,,,,,,,,,,,,,,,,,,,,,
Afghanistan,8151,8892,1.76,9830,2.03,10998,2.27,12431,2.48,14133,...,2.12,50195,1.91,54717,1.74,59256,1.61,63796,1.49,AFG
Albania,1228,1393,2.56,1624,3.12,1884,3.02,2157,2.74,2402,...,-0.01,3063,-0.26,2994,-0.45,2913,-0.55,2825,-0.61,ALB
Algeria,8893,9842,2.05,10910,2.08,11964,1.86,13932,3.09,16141,...,0.99,50118,0.80,52030,0.75,53894,0.71,55445,0.57,DZA
American Samoa,20,20,0.72,21,0.20,25,4.23,28,2.08,30,...,-0.32,52,-0.45,51,-0.45,50,-0.29,50,-0.06,ASM
Andorra,7,7,0.04,9,6.28,14,10.17,20,7.49,27,...,-0.21,83,-0.30,82,-0.46,79,-0.69,75,-0.93,AND
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wallis and Futuna,7,8,1.26,8,1.26,9,1.02,9,0.95,9,...,0.08,17,-0.06,16,-0.15,16,-0.19,16,-0.22,WLF
Western Sahara,10,16,11.87,28,11.87,50,12.33,90,12.38,73,...,2.23,909,2.04,998,1.87,1086,1.71,1174,1.57,ESH
Yemen,4778,5266,1.97,5872,2.20,6511,2.09,7099,1.74,7935,...,1.67,38437,1.51,41142,1.37,43710,1.22,46081,1.06,YEM
Zambia,2554,2870,2.36,3255,2.55,3695,2.57,4241,2.80,4849,...,2.85,26546,2.79,30339,2.71,34497,2.60,38993,2.48,ZMB
Zimbabwe,2854,3410,3.62,4011,3.31,4686,3.16,5515,3.31,6342,...,1.62,20282,1.51,21840,1.49,23492,1.47,25199,1.41,ZWE

In [32]:
country_population_data.reset_index()
country_population_data = country_population_data.set_index("COUNTRY")
country_population_data

,1950,1955,1950 %,1960,1955 %,1965,1965 %,1970,1970 %,1975,...,2030,2030 %,2035,2035 %,2040,2040 %,2045,2045 %,2050,2050 %
COUNTRY,,,,,,,,,,,,,,,,,,,,,
AFG,8151,8892,1.76,9830,2.03,10998,2.27,12431,2.48,14133,...,45665,2.12,50195,1.91,54717,1.74,59256,1.61,63796,1.49
ALB,1228,1393,2.56,1624,3.12,1884,3.02,2157,2.74,2402,...,3103,-0.01,3063,-0.26,2994,-0.45,2913,-0.55,2825,-0.61
DZA,8893,9842,2.05,10910,2.08,11964,1.86,13932,3.09,16141,...,48149,0.99,50118,0.80,52030,0.75,53894,0.71,55445,0.57
ASM,20,20,0.72,21,0.20,25,4.23,28,2.08,30,...,53,-0.32,52,-0.45,51,-0.45,50,-0.29,50,-0.06
AND,7,7,0.04,9,6.28,14,10.17,20,7.49,27,...,85,-0.21,83,-0.30,82,-0.46,79,-0.69,75,-0.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WLF,7,8,1.26,8,1.26,9,1.02,9,0.95,9,...,17,0.08,17,-0.06,16,-0.15,16,-0.19,16,-0.22
ESH,10,16,11.87,28,11.87,50,12.33,90,12.38,73,...,822,2.23,909,2.04,998,1.87,1086,1.71,1174,1.57
YEM,4778,5266,1.97,5872,2.20,6511,2.09,7099,1.74,7935,...,35660,1.67,38437,1.51,41142,1.37,43710,1.22,46081,1.06
ZMB,2554,2870,2.36,3255,2.55,3695,2.57,4241,2.80,4849,...,23137,2.85,26546,2.79,30339,2.71,34497,2.60,38993,2.48
ZWE,2854,3410,3.62,4011,3.31,4686,3.16,5515,3.31,6342,...,18820,1.62,20282,1.51,21840,1.49,23492,1.47,25199,1.41

In [33]:
aqi_breakpoints_units_data = aqi_breakpoints_units_data[["Parameter Code","Standard Units"]] 
aqi_breakpoints_data = aqi_breakpoints_data.join(aqi_breakpoints_units_data.set_index("Parameter Code"),on="Parameter Code")
aqi_breakpoints_data

,Parameter,Parameter Code,Duration Code,Duration Description,AQI Category,Low AQI,High AQI,Low Breakpoint,High Breakpoint,Standard Units
0,Acceptable PM2.5 AQI & Speciation Mass,88502,7,24 HOUR,GOOD,0,50,0.0,12.0,Micrograms/cubic meter (LC)
1,Acceptable PM2.5 AQI & Speciation Mass,88502,7,24 HOUR,MODERATE,51,100,12.1,35.4,Micrograms/cubic meter (LC)
2,Acceptable PM2.5 AQI & Speciation Mass,88502,7,24 HOUR,UNHEALTHY FOR SENSITIVE,101,150,35.5,55.4,Micrograms/cubic meter (LC)
3,Acceptable PM2.5 AQI & Speciation Mass,88502,7,24 HOUR,UNHEALTHY,151,200,55.5,150.4,Micrograms/cubic meter (LC)
4,Acceptable PM2.5 AQI & Speciation Mass,88502,7,24 HOUR,VERY UNHEALTHY,201,300,150.5,250.4,Micrograms/cubic meter (LC)
...,...,...,...,...,...,...,...,...,...,...
82,Sulfur dioxide,42401,X,24-HR BLK AVG,NONE,-1,-1,0.0,304.0,Parts per billion
83,Sulfur dioxide,42401,X,24-HR BLK AVG,VERY UNHEALTHY,201,300,305.0,604.0,Parts per billion
84,Sulfur dioxide,42401,X,24-HR BLK AVG,HAZARDOUS,301,400,605.0,804.0,Parts per billion
85,Sulfur dioxide,42401,X,24-HR BLK AVG,HAZARDOUS,401,500,805.0,1004.0,Parts per billion
86,Sulfur dioxide,42401,X,24-HR BLK AVG,HAZARDOUS,501,999,1005.0,99999.0,Parts per billion

### Research Question 1: How does different kinds of air pollution affect the health of people in the region?

In [34]:
#take average over the years
who_attributeddeaths_data_total = who_attributeddeaths_data.copy()
who_attributeddeaths_data_total.drop(columns=["REGION","MIN","MAX"],inplace=True)
who_attributeddeaths_data_total = who_attributeddeaths_data[who_attributeddeaths_data_total["CAUSE"]=="Total"]
who_attributeddeaths_data_total = who_attributeddeaths_data_total.groupby(by=["COUNTRY","YEAR"])[["VALUE"]].sum()
who_attributeddeaths_data_total = who_attributeddeaths_data_total.groupby(by=["COUNTRY"])[["VALUE"]].mean()
who_attributeddeaths_data_total = who_attributeddeaths_data_total.rename(columns={"VALUE":"DEATHS (RESPIRATORY PER 100 000)"})

owid_death_rates_air_pollution_data_total = owid_death_rates_air_pollution_data.copy()
owid_death_rates_air_pollution_data_total = owid_death_rates_air_pollution_data_total.groupby(
    by=["COUNTRY"])[["DEATH (AIR POLLUTION PER 100 000)","DEATH (HOUSEHOLD PER 100 000)",
                     "DEATH (PM PER 100 000)","DEATH (OZONE PER 100 000)"]].mean()
health_by_country = pd.merge(owid_death_rates_air_pollution_data_total,
                             who_attributeddeaths_data_total,left_index=True, right_index=True,how='outer')

owid_death_pneumonia_data_total = owid_death_pneumonia_data.copy()
owid_death_pneumonia_data_total = owid_death_pneumonia_data_total.groupby(
    by=["COUNTRY","YEAR"])[["DEATH (LOWER RESPIRATORY INFECTION PER 100 000)"]].sum()
owid_death_pneumonia_data_total = owid_death_pneumonia_data_total.groupby(by=["COUNTRY"])[["DEATH (LOWER RESPIRATORY INFECTION PER 100 000)"]].mean()
health_by_country = pd.merge(health_by_country,owid_death_pneumonia_data_total,left_index=True, right_index=True,how='outer')

owid_death_rate_respiratory_disease_data_total = owid_death_rate_respiratory_disease_data.copy()
owid_death_rate_respiratory_disease_data_total = owid_death_rate_respiratory_disease_data_total.groupby(
    by=["COUNTRY","YEAR"])[["DEATH (CHRONIC RESPIRATORY DISEASE PER 100 000)"]].sum()
owid_death_rate_respiratory_disease_data_total = owid_death_rate_respiratory_disease_data_total.groupby(by=["COUNTRY"])[["DEATH (CHRONIC RESPIRATORY DISEASE PER 100 000)"]].mean()
health_by_country = pd.merge(health_by_country,owid_death_rate_respiratory_disease_data_total,left_index=True, right_index=True,how='outer')

health_by_country

owid_dalys_air_pollution_risk_data #to be done

# pd.set_option("display.max_rows", None, "display.max_columns", None)

,COUNTRY,YEAR,DALYS (Air pollution),DALYS (PM),"DALYS (HOUSEHOLD, SOLID FUEL)"
0,AFG,1990,1396894,207108,1186388
1,AFG,1991,1372209,207126,1161641
2,AFG,1992,1427254,215298,1208403
3,AFG,1993,1684234,254329,1426202
4,AFG,1994,1906673,286731,1616132
...,...,...,...,...,...
6463,ZWE,2013,460157,87920,369494
6464,ZWE,2014,448482,86550,359185
6465,ZWE,2015,436500,84262,349447
6466,ZWE,2016,428451,85182,340427
6467,ZWE,2017,421256,88047,330307

In [35]:
world_oecd_pm25_data_total = world_oecd_pm25_data.copy()
world_oecd_pm25_data_total = world_oecd_pm25_data_total.groupby(by=["COUNTRY"])[["PM2.5 (MICGRCUBM)"]].mean()

world_oecd_pollutants_data_total = world_oecd_pollutants_data.copy()
world_oecd_pollutants_data_total = world_oecd_pollutants_data_total.groupby(by=["COUNTRY","YEAR","POLLUTANT"])[["VALUE"]].sum()
world_oecd_pollutants_data_total = world_oecd_pollutants_data_total.groupby(by=["COUNTRY","POLLUTANT"])[["VALUE"]].mean()
world_oecd_pollutants_data_total = pd.pivot_table(world_oecd_pollutants_data,index=["COUNTRY"],
                                                    values=["VALUE"],columns=["POLLUTANT"],aggfunc="mean")
world_oecd_pollutants_data_total.columns = world_oecd_pollutants_data_total.columns.droplevel()
world_oecd_pollutants_data_total = world_oecd_pollutants_data_total.rename(
    columns={"CO":" CO (KIILOTON)","NMVOC":"NMVOC (KILOTON)","NOX":"NOX (KILOTON)","PM10":"PM10 (KILOTON)",
            "PM2-5":"PM 2.5 (KILOTON)","SOX":"SOX (KILOTON)"})

# pollution_by_country = pd.merge(world_oecd_pollutants_data_total,world_oecd_pm25_data_total,left_index=True, right_index=True,how='outer')
# pd.set_option("display.max_rows", None, "display.max_columns", None)
# pollution_by_country

world_oecd_pollutants_data_total

POLLUTANT,CO (KIILOTON),NMVOC (KILOTON),NOX (KILOTON),PM10 (KILOTON),PM 2.5 (KILOTON),SOX (KILOTON)
COUNTRY,,,,,,
AUS,859.384791,257.033154,443.022199,NaN,NaN,418.012110
AUT,184.601067,44.648801,54.816435,1.618153e+01,1.334049e+01,15.165105
BEL,157.937688,48.434994,68.307550,1.342988e+01,1.126688e+01,41.482949
CAN,1747.873402,470.856396,463.042310,1.299854e+03,3.028377e+02,393.038079
CHE,82.595957,35.964318,29.029860,1.404480e+01,1.183335e+01,12.354225
CHL,987.926352,501.125771,43.604995,8.486874e+01,7.505919e+01,65.633819
CRI,106.660929,30.359917,14.862611,8.905000e+00,NaN,9.045778
CZE,268.478730,75.869588,70.820450,3.512185e+01,2.883297e+01,110.130688
DEU,1035.684002,342.743256,345.195323,5.612502e+01,3.347903e+01,236.363848
DNK,102.176586,42.584266,50.435604,1.822452e+01,1.576040e+01,26.335895
ESP,485.750927,156.593343,230.397633,5.058517e+01,3.436817e+01,211.626290
EST,53.719298,15.981917,20.160880,9.110350e+00,7.919344e+00,31.051301
FIN,122.023229,39.119838,53.264554,1.880917e+01,1.519473e+01,27.434020
FRA,1186.234609,270.515842,273.268067,8.499645e+01,6.715743e+01,127.756769
GBR,783.915546,281.933051,361.234122,5.406510e+01,3.879170e+01,258.597775
GRC,162.093282,61.015063,85.261789,2.962972e+01,2.203590e+01,83.248384
HUN,160.629799,43.620978,42.488069,2.180310e+09,1.447991e+09,65.236892
IRL,54.456647,34.743519,42.428129,1.815194e+01,1.388150e+01,28.493470
ISL,45.535986,12.730225,21.847927,1.424666e+01,1.394218e+01,36.092176
ISR,56.426009,68.711160,46.794701,5.221184e+00,NaN,45.472167
ITA,867.511485,278.577223,267.654998,5.959539e+01,5.055728e+01,141.439692
JPN,700.371160,267.029937,360.555824,NaN,NaN,206.372091
KOR,176.452152,182.828695,273.639591,3.537491e+01,2.036044e+01,106.648271
LTU,61.403902,22.058935,25.264925,1.444178e+01,1.203787e+01,21.288372
LUX,69.022195,14.419769,26.874432,1.470790e+01,1.512528e+01,14.467837
LVA,69.005010,21.980307,19.847998,1.989338e+01,1.783776e+01,17.019048
MEX,3946.614675,876.504835,467.791447,2.063411e+02,1.496189e+02,480.096961
NLD,169.723603,70.560588,88.295892,1.603141e+01,1.338043e+01,27.532910
NOR,130.348053,65.768546,53.690365,2.027014e+01,1.827965e+01,13.631442
NZL,151.979886,46.498716,44.509554,NaN,NaN,29.450795
OECD,11798.387965,3809.150021,4227.254245,NaN,NaN,3362.156986
OECDE,11138.605255,3463.670191,3696.365673,9.946760e+02,6.065353e+02,3071.859839
POL,723.157103,169.647789,179.995264,7.253495e+01,4.693017e+01,264.696047
PRT,121.449653,47.888002,55.611763,3.195274e+01,2.403426e+01,45.564416
RUS,5340.767014,1093.241867,1279.737915,5.544613e+03,NaN,2104.732379
SVK,130.011797,44.380327,29.463394,1.783805e+01,1.645801e+01,27.280882
SVN,52.372815,20.308765,22.315262,1.035140e+01,1.005144e+01,21.539154
SWE,133.122446,50.027034,46.761436,2.039089e+01,1.621565e+01,17.957499
TUR,936.703552,253.493050,228.185530,8.671001e+01,1.101108e+02,470.792325
USA,15103.978922,2968.937539,3460.667861,3.704344e+03,1.010545e+03,2354.305543

In [36]:
# who_attributeddeaths_data.drop(columns=["MIN","MAX","REGION"],inplace=True)
# who_attributeddeaths_data = who_attributeddeaths_data.groupby(by=["COUNTRY","YEAR","CAUSE"])[["VALUE"]].sum()
# who_attributeddeaths_data = who_attributeddeaths_data.groupby(by=["COUNTRY","CAUSE"])[["VALUE"]].mean()
# who_attributeddeaths_data = pd.pivot_table(who_attributeddeaths_data,index=["COUNTRY"],
#                                                     values=["VALUE"],columns=["CAUSE"],aggfunc="mean"
aqi_breakpoints_data
aqi_breakpoints_data_processed = aqi_breakpoints_data.copy()
aqi_breakpoints_data_processed = aqi_breakpoints_data_processed.set_index("Parameter")
# to merge Parameter code to units
aqi_breakpoints_data_processed = aqi_breakpoints_data_processed.drop(columns={"Parameter Code","Duration Code","AQI Category"},index={"PM2.5 - Local Conditions"})
aqi_breakpoints_data_processed = aqi_breakpoints_data_processed.rename(
    index={"Acceptable PM2.5 AQI & Speciation Mass":"PM2.5","Carbon monoxide":"CO","Nitrogen dioxide (NO2)":"NOX","Ozone":"O3",
          "PM10 Total 0-10um STP":"PM10","Sulfur dioxide":"SOX"})
aqi_breakpoints_data_processed = aqi_breakpoints_data_processed[aqi_breakpoints_data_processed["Low AQI"]!=-1]
aqi_breakpoints_data_processed = aqi_breakpoints_data_processed[aqi_breakpoints_data_processed["Duration Description"]!="24-HR BLK AVG"]
aqi_breakpoints_data_processed

,Duration Description,Low AQI,High AQI,Low Breakpoint,High Breakpoint,Standard Units
Parameter,,,,,,
PM2.5,24 HOUR,0,50,0.000,12.000,Micrograms/cubic meter (LC)
PM2.5,24 HOUR,51,100,12.100,35.400,Micrograms/cubic meter (LC)
PM2.5,24 HOUR,101,150,35.500,55.400,Micrograms/cubic meter (LC)
PM2.5,24 HOUR,151,200,55.500,150.400,Micrograms/cubic meter (LC)
PM2.5,24 HOUR,201,300,150.500,250.400,Micrograms/cubic meter (LC)
PM2.5,24 HOUR,301,400,250.500,350.400,Micrograms/cubic meter (LC)
PM2.5,24 HOUR,401,500,350.500,500.400,Micrograms/cubic meter (LC)
PM2.5,24 HOUR,501,999,500.500,99999.900,Micrograms/cubic meter (LC)
CO,8-HR RUN AVG END HOUR,0,50,0.000,4.400,Parts per million
CO,8-HR RUN AVG END HOUR,51,100,4.500,9.400,Parts per million
CO,8-HR RUN AVG END HOUR,101,150,9.500,12.400,Parts per million
CO,8-HR RUN AVG END HOUR,151,200,12.500,15.400,Parts per million
CO,8-HR RUN AVG END HOUR,201,300,15.500,30.400,Parts per million
CO,8-HR RUN AVG END HOUR,301,400,30.500,40.400,Parts per million
CO,8-HR RUN AVG END HOUR,401,500,40.500,50.400,Parts per million
CO,8-HR RUN AVG END HOUR,501,999,50.500,99999.000,Parts per million
NOX,1 HOUR,0,50,0.000,53.000,Parts per billion
NOX,1 HOUR,51,100,54.000,100.000,Parts per billion
NOX,1 HOUR,101,150,101.000,360.000,Parts per billion
NOX,1 HOUR,151,200,361.000,649.000,Parts per billion
NOX,1 HOUR,201,300,650.000,1249.000,Parts per billion
NOX,1 HOUR,301,400,1250.000,1649.000,Parts per billion
NOX,1 HOUR,401,500,1650.000,2049.000,Parts per billion
NOX,1 HOUR,501,999,2050.000,99999.000,Parts per billion
O3,1 HOUR,101,150,0.125,0.164,Parts per million
O3,1 HOUR,151,200,0.165,0.204,Parts per million
O3,1 HOUR,201,300,0.205,0.404,Parts per million
O3,1 HOUR,301,400,0.405,0.504,Parts per million
O3,1 HOUR,401,500,0.505,0.604,Parts per million
O3,1 HOUR,501,999,0.605,99999.000,Parts per million
O3,8-HR RUN AVG BEGIN HOUR,0,50,0.000,0.054,Parts per million
O3,8-HR RUN AVG BEGIN HOUR,51,100,0.055,0.070,Parts per million
O3,8-HR RUN AVG BEGIN HOUR,101,150,0.071,0.085,Parts per million
O3,8-HR RUN AVG BEGIN HOUR,151,200,0.086,0.105,Parts per million
O3,8-HR RUN AVG BEGIN HOUR,201,300,0.106,0.200,Parts per million
PM10,24 HOUR,0,50,0.000,54.000,Micrograms/cubic meter (25 C)
PM10,24 HOUR,51,100,55.000,154.000,Micrograms/cubic meter (25 C)
PM10,24 HOUR,101,150,155.000,254.000,Micrograms/cubic meter (25 C)
PM10,24 HOUR,151,200,255.000,354.000,Micrograms/cubic meter (25 C)
PM10,24 HOUR,201,300,355.000,424.000,Micrograms/cubic meter (25 C)
PM10,24 HOUR,301,400,425.000,504.000,Micrograms/cubic meter (25 C)
PM10,24 HOUR,401,500,505.000,604.000,Micrograms/cubic meter (25 C)
PM10,24 HOUR,501,999,605.000,99999.000,Micrograms/cubic meter (25 C)
SOX,1 HOUR,0,50,0.000,35.000,Parts per billion
SOX,1 HOUR,51,100,36.000,75.000,Parts per billion
SOX,1 HOUR,101,150,76.000,185.000,Parts per billion
SOX,1 HOUR,151,200,186.000,304.000,Parts per billion
SOX,1 HOUR,200,200,305.000,99999.000,Parts per billion

In [37]:
def calculate_aqi(row,pollutant,pollutant_column_name):
    pollutant_df = aqi_breakpoints_data_processed.loc[pollutant]
    pollutant_value = row[pollutant_column_name]
    pollutant_df_row = pollutant_df[(pollutant_df["Low Breakpoint"]<=pollutant_value) &
                                    (pollutant_df["High Breakpoint"]>=pollutant_value)]
    aqi_value = (pollutant_df_row["High AQI"]-pollutant_df_row["Low AQI"])/(
        pollutant_df_row["High Breakpoint"]-pollutant_df_row["Low Breakpoint"])*(
        pollutant_value-pollutant_df_row["Low Breakpoint"])+pollutant_df_row["Low AQI"]
    #corner case wehere pollutant is between breakpoints and does not fall under any category, just round off to threshold 
    if pollutant_df_row.empty:
        pollutant_value = round(pollutant_value,1)
        pollutant_df_row = pollutant_df[(pollutant_df["Low Breakpoint"]<=pollutant_value) &
                                    (pollutant_df["High Breakpoint"]>=pollutant_value)]
        aqi_value = (pollutant_df_row["High AQI"]-pollutant_df_row["Low AQI"])/(
            pollutant_df_row["High Breakpoint"]-pollutant_df_row["Low Breakpoint"])*(
            pollutant_value-pollutant_df_row["Low Breakpoint"])+pollutant_df_row["Low AQI"]
    row["AQI"] = float(aqi_value)
    return row
world_oecd_pm25_data_total = world_oecd_pm25_data_total.apply(calculate_aqi,pollutant='PM2.5',pollutant_column_name='PM2.5 (MICGRCUBM)', axis='columns')
world_oecd_pm25_data_total

         PM2.5 (MICGRCUBM)         AQI
COUNTRY
AFG              77.286359  162.249016
AGO              64.393955  155.592242
ALB              60.483999  153.573403
ARE              71.198538  159.105673
ARG              56.268959  151.397039
...                    ...         ...
WLD              68.938486  157.938733
YEM              73.446117  160.266172
ZAF              64.322118  155.555150
ZMB              63.472248  155.116335
ZWE              62.201780  154.460350

[174 rows x 2 columns]

### Research Question 2

In [38]:
death_by_cause_data = owid_death_rate_respiratory_disease_data.join(
    owid_death_pneumonia_data.set_index(["COUNTRY","YEAR"]),on=["COUNTRY","YEAR"])
# for another graph
death_by_cause_data = death_by_cause_data.join(
    owid_death_rates_air_pollution_data.set_index(["COUNTRY","YEAR"]),on=["COUNTRY","YEAR"])
death_by_cause_data

,COUNTRY,YEAR,DEATH (CHRONIC RESPIRATORY DISEASE PER 100 000),DEATH (LOWER RESPIRATORY INFECTION PER 100 000),DEATH (AIR POLLUTION PER 100 000),DEATH (HOUSEHOLD PER 100 000),DEATH (PM PER 100 000),DEATH (OZONE PER 100 000)
0,AFG,1990,95.273780,164.811829,299.477309,250.362910,46.446589,5.616442
1,AFG,1991,95.270656,151.460290,291.277967,242.575125,46.033841,5.603960
2,AFG,1992,95.584266,127.896225,278.963056,232.043878,44.243766,5.611822
3,AFG,1993,96.581362,124.725141,278.790815,231.648134,44.440148,5.655266
4,AFG,1994,98.105844,134.410918,287.162923,238.837177,45.594328,5.718922
...,...,...,...,...,...,...,...,...
6463,ZWE,2013,67.033739,153.811116,143.850145,113.456097,27.589603,4.426291
6464,ZWE,2014,64.473769,148.600446,138.200536,108.703566,26.760618,4.296971
6465,ZWE,2015,62.380257,144.337533,132.752553,104.340506,25.715415,4.200907
6466,ZWE,2016,60.581842,140.887702,128.692138,100.392287,25.643570,4.117173
6467,ZWE,2017,59.223255,137.633004,125.028843,96.235996,26.166182,4.052495

In [39]:
who_attributeddeaths_data_copy = who_attributeddeaths_data.drop(columns=["REGION","MIN","MAX"])
who_attributeddeaths_data_copy= who_attributeddeaths_data_copy[(who_attributeddeaths_data_copy["SEX"]=="BTSX")]
who_attributeddeaths_data_copy = who_attributeddeaths_data.drop(columns=["SEX"])
who_attributeddeaths_data_copy = who_attributeddeaths_data_copy.groupby(["COUNTRY","YEAR","CAUSE"])[["VALUE"]].mean()
who_attributeddeaths_data_copy.reset_index()
who_attributeddeaths_data_copy = pd.pivot_table(who_attributeddeaths_data_copy,index=["COUNTRY","YEAR"],
                                                    values=["VALUE"],columns=["CAUSE"],aggfunc="mean")
who_attributeddeaths_data_copy = who_attributeddeaths_data_copy["VALUE"]
who_attributeddeaths_data_copy = who_attributeddeaths_data_copy.drop(columns=["Total"])
who_attributeddeaths_data_qn2 = who_attributeddeaths_data_copy.drop(columns=["Lower respiratory infections"])
who_attributeddeaths_data_qn2 = who_attributeddeaths_data_qn2.rename(
    columns={"Chronic obstructive pulmonary disease":"DEATH (CHRONIC OBSTRUCTIVE PULMONARY DISEASE PER 100 000)",
            "Ischaemic heart disease":"DEATH (ISCHAEMIC HEART DISEASE PER 100 000)",
            "Stroke":"DEATH (STROKE PER 100 000)",
             "Trachea, bronchus, lung cancers":"DEATH (TRANCHEA, BRONCHUS, LUNG CANCERS PER 100 000)"})
death_by_cause_data_qn2 = death_by_cause_data.groupby(["COUNTRY"])[["DEATH (CHRONIC RESPIRATORY DISEASE PER 100 000)",
                                                                   "DEATH (LOWER RESPIRATORY INFECTION PER 100 000)",
                                                                   "DEATH (AIR POLLUTION PER 100 000)",
                                                                   "DEATH (HOUSEHOLD PER 100 000)",
                                                                   "DEATH (PM PER 100 000)",
                                                                   "DEATH (OZONE PER 100 000)"]].mean()
who_attributeddeaths_data_qn2 = who_attributeddeaths_data_qn2.reset_index()
who_attributeddeaths_data_qn2.drop(columns=["YEAR"],inplace=True)
death_by_cause_data_qn2 = death_by_cause_data_qn2.join(who_attributeddeaths_data_qn2.set_index("COUNTRY"),on=["COUNTRY"])
death_by_cause_data_qn2

,DEATH (CHRONIC RESPIRATORY DISEASE PER 100 000),DEATH (LOWER RESPIRATORY INFECTION PER 100 000),DEATH (AIR POLLUTION PER 100 000),DEATH (HOUSEHOLD PER 100 000),DEATH (PM PER 100 000),DEATH (OZONE PER 100 000),DEATH (CHRONIC OBSTRUCTIVE PULMONARY DISEASE PER 100 000),DEATH (ISCHAEMIC HEART DISEASE PER 100 000),DEATH (STROKE PER 100 000),"DEATH (TRANCHEA, BRONCHUS, LUNG CANCERS PER 100 000)"
COUNTRY,,,,,,,,,,
AFG,90.176087,109.232365,252.842551,203.967377,45.979634,5.797506,3.586667,20.926667,7.930000,0.703333
AGO,66.860067,151.220258,163.970719,131.054799,28.843601,7.204439,1.696667,5.623333,3.646667,0.103000
ALB,27.764644,30.495357,59.291351,35.145038,22.319736,2.600926,3.643333,33.930000,19.136667,4.183333
AND,23.423892,21.767718,21.150254,0.397801,18.356823,2.874569,NaN,NaN,NaN,NaN
ARE,46.630824,52.147546,84.592507,1.472571,79.261157,5.300451,1.216667,8.490000,3.096667,0.406667
...,...,...,...,...,...,...,...,...,...,...
WSM,67.314496,44.276451,85.705220,68.182513,17.512058,0.015526,1.963333,10.003333,4.490000,0.350000
YEM,54.858381,47.045414,133.563611,87.386845,44.368401,2.945583,4.100000,27.846667,9.536667,0.346667
ZAF,68.214821,90.084580,84.328239,32.966452,48.843751,3.492130,5.996667,12.486667,7.113333,1.780000
ZMB,53.857009,139.079834,144.309198,116.597741,24.739512,5.079409,1.423333,5.246667,2.856667,0.100000
ZWE,65.858816,143.815714,136.099677,106.606980,26.643354,4.492842,2.003333,5.380000,3.116667,0.173000

In [40]:
owid_dalys_air_pollution_risk_data_by_country = owid_dalys_air_pollution_risk_data.dropna(subset=["COUNTRY"],axis=0)
country_population_data.drop(columns=["2020 %","2025","2025 %","2030","2030 %","2035","2035 %","2040","2040 %",
                                     "2045","2045 %","2050","2050 %"],inplace=True)

In [41]:
def calculate_per_100000(row):
    country_population,dalys_air_pollution,dalys_pm,dalys_household = 0,0,0,0
    #country population is already in thousands
    if (row.YEAR%5==0):
        country_population = country_population_data.loc[row.COUNTRY,str(row.YEAR)]
    else:
        year_remainder = row.YEAR%5
        #country population is estimateed by population growth
        year_to_retrieve = row.YEAR-year_remainder
        country_population = country_population_data.loc[row.COUNTRY,str(year_to_retrieve)]*(1+
            country_population_data.loc[row.COUNTRY,(str(year_to_retrieve)+" %")])**year_remainder
    if (country_population!=0):
        dalys_air_pollution = row["DALYS (Air pollution)"]/country_population*100
        dalys_pm = row["DALYS (PM)"]/country_population*100
        dalys_household = row["DALYS (HOUSEHOLD, SOLID FUEL)"]/country_population*100
        row["DALYS (AIR POLLUTION PER 100 000)"] = dalys_air_pollution
        row["DALYS (PM PER 100 000)"] = dalys_pm
        row["DALYS (HOUSEHOLD, SOLID FUEL PER 100 000)"] = dalys_household
    else:
        print("Error"+row.COUNTRY+str(row.YEAR))

    return row

In [42]:
owid_dalys_air_pollution_risk_data_by_country = owid_dalys_air_pollution_risk_data_by_country.set_index("COUNTRY")
owid_dalys_air_pollution_risk_data_by_country.drop(index=["OWID_WRL"],inplace=True)
owid_dalys_air_pollution_risk_data_by_country = owid_dalys_air_pollution_risk_data_by_country.reset_index()
owid_dalys_air_pollution_risk_data_by_country = owid_dalys_air_pollution_risk_data_by_country.apply(calculate_per_100000,axis='columns')
owid_dalys_air_pollution_risk_data_by_country.drop(columns=["DALYS (Air pollution)","DALYS (PM)","DALYS (HOUSEHOLD, SOLID FUEL)"],inplace=True)
owid_dalys_air_pollution_risk_data_by_country

,COUNTRY,YEAR,DALYS (AIR POLLUTION PER 100 000),DALYS (PM PER 100 000),"DALYS (HOUSEHOLD, SOLID FUEL PER 100 000)"
0,AFG,1990,10294.745375,1526.332080,8743.370919
1,AFG,1991,6055.582843,914.050740,5126.342495
2,AFG,1992,3771.555336,568.930492,3193.235950
3,AFG,1993,2665.048852,402.437672,2256.751736
4,AFG,1994,1806.602012,271.682035,1531.309943
...,...,...,...,...,...
5455,ZWE,2013,3721.388762,711.027975,2988.177555
5456,ZWE,2014,3555.853453,686.224010,2847.849462
5457,ZWE,2015,3067.463106,592.143359,2455.706254
5458,ZWE,2016,592.696754,117.836333,470.928946
5459,ZWE,2017,114.713300,23.976304,89.946745

In [43]:
owid_dalys_air_pollution_risk_data_by_country_qn2 = owid_dalys_air_pollution_risk_data_by_country.groupby(
    ["COUNTRY"])[["DALYS (AIR POLLUTION PER 100 000)","DALYS (PM PER 100 000)","DALYS (HOUSEHOLD, SOLID FUEL PER 100 000)"]].mean()
death_by_cause_data_qn2 = death_by_cause_data_qn2.join(owid_dalys_air_pollution_risk_data_by_country_qn2,on=["COUNTRY"])
death_by_cause_data_qn2

,DEATH (CHRONIC RESPIRATORY DISEASE PER 100 000),DEATH (LOWER RESPIRATORY INFECTION PER 100 000),DEATH (AIR POLLUTION PER 100 000),DEATH (HOUSEHOLD PER 100 000),DEATH (PM PER 100 000),DEATH (OZONE PER 100 000),DEATH (CHRONIC OBSTRUCTIVE PULMONARY DISEASE PER 100 000),DEATH (ISCHAEMIC HEART DISEASE PER 100 000),DEATH (STROKE PER 100 000),"DEATH (TRANCHEA, BRONCHUS, LUNG CANCERS PER 100 000)",DALYS (AIR POLLUTION PER 100 000),DALYS (PM PER 100 000),"DALYS (HOUSEHOLD, SOLID FUEL PER 100 000)"
COUNTRY,,,,,,,,,,,,,
AFG,90.176087,109.232365,252.842551,203.967377,45.979634,5.797506,3.586667,20.926667,7.930000,0.703333,2509.072154,417.166916,2085.475919
AGO,66.860067,151.220258,163.970719,131.054799,28.843601,7.204439,1.696667,5.623333,3.646667,0.103000,2168.378418,337.638863,1822.987997
ALB,27.764644,30.495357,59.291351,35.145038,22.319736,2.600926,3.643333,33.930000,19.136667,4.183333,133040.842699,62361.463423,68650.789843
AND,23.423892,21.767718,21.150254,0.397801,18.356823,2.874569,NaN,NaN,NaN,NaN,228.659082,207.053914,4.089156
ARE,46.630824,52.147546,84.592507,1.472571,79.261157,5.300451,1.216667,8.490000,3.096667,0.406667,243.430256,229.852874,3.686485
...,...,...,...,...,...,...,...,...,...,...,...,...,...
WSM,67.314496,44.276451,85.705220,68.182513,17.512058,0.015526,1.963333,10.003333,4.490000,0.350000,780.052670,156.658026,623.248904
YEM,54.858381,47.045414,133.563611,87.386845,44.368401,2.945583,4.100000,27.846667,9.536667,0.346667,983.231361,282.165745,697.533143
ZAF,68.214821,90.084580,84.328239,32.966452,48.843751,3.492130,5.996667,12.486667,7.113333,1.780000,759.711262,434.388180,315.682179
ZMB,53.857009,139.079834,144.309198,116.597741,24.739512,5.079409,1.423333,5.246667,2.856667,0.100000,1386.845337,217.148333,1164.778635
ZWE,65.858816,143.815714,136.099677,106.606980,26.643354,4.492842,2.003333,5.380000,3.116667,0.173000,2957.604096,559.436656,2379.001185

### Research Question 3

In [44]:
who_attributeddeaths_data

,REGION,COUNTRY,YEAR,SEX,CAUSE,VALUE,MIN,MAX
0,AFR,MWI,2016,FMLE,"Trachea, bronchus, lung cancers",0.040,0.022,0.061
1,AFR,NER,2016,FMLE,"Trachea, bronchus, lung cancers",0.047,0.032,0.062
2,AFR,TZA,2016,FMLE,"Trachea, bronchus, lung cancers",0.051,0.029,0.076
3,AFR,TZA,2016,BTSX,"Trachea, bronchus, lung cancers",0.055,0.031,0.083
4,AFR,MWI,2016,BTSX,"Trachea, bronchus, lung cancers",0.056,0.030,0.086
...,...,...,...,...,...,...,...,...
3289,EUR,UKR,2016,MLE,Ischaemic heart disease,92.970,72.370,113.300
3290,EUR,UKR,2016,BTSX,Ischaemic heart disease,93.010,69.010,117.400
3291,EUR,UKR,2016,FMLE,Ischaemic heart disease,93.050,64.720,122.900
3292,EUR,BLR,2016,FMLE,Total,95.150,69.350,122.800
3293,SEAR,PRK,2016,MLE,Total,96.420,81.170,112.900

In [45]:
who_attributeddeaths_data_qn3 = who_attributeddeaths_data.drop(columns=["REGION","MIN","MAX"])
who_attributeddeaths_data_qn3= who_attributeddeaths_data_qn3[(who_attributeddeaths_data_qn3["SEX"]=="FMLE")|
                                                            (who_attributeddeaths_data_qn3["SEX"]=="MLE")]
who_attributeddeaths_data_qn3 = who_attributeddeaths_data_qn3.groupby(["COUNTRY","YEAR","SEX","CAUSE"])[["VALUE"]].mean()
who_attributeddeaths_data_qn3.reset_index()
who_attributeddeaths_data_qn3 = pd.pivot_table(who_attributeddeaths_data_qn3,index=["COUNTRY","YEAR","SEX"],
                                                    values=["VALUE"],columns=["CAUSE"],aggfunc="mean")
who_attributeddeaths_data_qn3 = who_attributeddeaths_data_qn3["VALUE"]
who_attributeddeaths_data_qn3 = who_attributeddeaths_data_qn3.rename(
    columns={"Chronic obstructive pulmonary disease":"DEATH (CHRONIC OBSTRUCTIVE PULMONARY DISEASE PER 100 000)",
            "Ischaemic heart disease":"DEATH (ISCHAEMIC HEART DISEASE PER 100 000)",
            "Stroke":"DEATH (STROKE PER 100 000)",
             "Lower respiratory infections":"DEATH (LOWER RESPIRATORY INFECTIONS PER 100 000)",
             "Trachea, bronchus, lung cancers":"DEATH (TRANCHEA, BRONCHUS, LUNG CANCERS PER 100 000)"})
who_attributeddeaths_data_qn3 = who_attributeddeaths_data_qn3.reset_index()
who_attributeddeaths_data_qn3

CAUSE,COUNTRY,YEAR,SEX,DEATH (CHRONIC OBSTRUCTIVE PULMONARY DISEASE PER 100 000),DEATH (ISCHAEMIC HEART DISEASE PER 100 000),DEATH (LOWER RESPIRATORY INFECTIONS PER 100 000),DEATH (STROKE PER 100 000),Total,"DEATH (TRANCHEA, BRONCHUS, LUNG CANCERS PER 100 000)"
0,AFG,2016,FMLE,3.47,18.23,17.22,8.57,47.87,0.380
1,AFG,2016,MLE,3.70,23.57,15.38,7.30,50.97,1.020
2,AGO,2016,FMLE,1.82,5.50,19.13,4.06,30.59,0.079
3,AGO,2016,MLE,1.57,5.75,19.14,3.23,29.82,0.130
4,ALB,2016,FMLE,2.47,27.78,2.10,18.63,53.84,2.860
...,...,...,...,...,...,...,...,...,...
361,ZAF,2016,MLE,7.60,13.92,15.66,7.29,46.77,2.300
362,ZMB,2016,FMLE,1.35,5.17,12.45,3.30,22.36,0.082
363,ZMB,2016,MLE,1.50,5.32,13.72,2.41,23.06,0.120
364,ZWE,2016,FMLE,1.96,6.72,11.72,3.76,24.26,0.099
365,ZWE,2016,MLE,2.05,4.02,12.54,2.46,21.31,0.250

### Research Question 4

In [46]:
world_oecd_pm25_data_year = world_oecd_pm25_data.apply(calculate_aqi,pollutant='PM2.5',pollutant_column_name='PM2.5 (MICGRCUBM)', axis='columns')
world_oecd_pm25_data_year

        COUNTRY  YEAR  PM2.5 (MICGRCUBM)         AQI
0           AUS  1990            7.60250   31.677083
1           AUS  1995            7.49591   31.232958
2           AUS  2000            7.36613   30.692208
3           AUS  2005            6.90976   28.790667
4           AUS  2010            6.78718   28.279917
...         ...   ...                ...         ...
4867  EU27_2020  2015           84.77171  166.113949
4868  EU27_2020  2016           77.74341  162.485006
4869  EU27_2020  2017           77.76907  162.498255
4870  EU27_2020  2018           78.64124  162.948585
4871  EU27_2020  2019           77.47267  162.345214

[4872 rows x 4 columns]

In [47]:
death_by_cause_data

,COUNTRY,YEAR,DEATH (CHRONIC RESPIRATORY DISEASE PER 100 000),DEATH (LOWER RESPIRATORY INFECTION PER 100 000),DEATH (AIR POLLUTION PER 100 000),DEATH (HOUSEHOLD PER 100 000),DEATH (PM PER 100 000),DEATH (OZONE PER 100 000)
0,AFG,1990,95.273780,164.811829,299.477309,250.362910,46.446589,5.616442
1,AFG,1991,95.270656,151.460290,291.277967,242.575125,46.033841,5.603960
2,AFG,1992,95.584266,127.896225,278.963056,232.043878,44.243766,5.611822
3,AFG,1993,96.581362,124.725141,278.790815,231.648134,44.440148,5.655266
4,AFG,1994,98.105844,134.410918,287.162923,238.837177,45.594328,5.718922
...,...,...,...,...,...,...,...,...
6463,ZWE,2013,67.033739,153.811116,143.850145,113.456097,27.589603,4.426291
6464,ZWE,2014,64.473769,148.600446,138.200536,108.703566,26.760618,4.296971
6465,ZWE,2015,62.380257,144.337533,132.752553,104.340506,25.715415,4.200907
6466,ZWE,2016,60.581842,140.887702,128.692138,100.392287,25.643570,4.117173
6467,ZWE,2017,59.223255,137.633004,125.028843,96.235996,26.166182,4.052495

In [48]:
health_by_cause_data_q4 = death_by_cause_data.join(
    owid_dalys_air_pollution_risk_data_by_country.set_index(["COUNTRY","YEAR"]),on=["COUNTRY","YEAR"])
health_by_cause_data_q4

,COUNTRY,YEAR,DEATH (CHRONIC RESPIRATORY DISEASE PER 100 000),DEATH (LOWER RESPIRATORY INFECTION PER 100 000),DEATH (AIR POLLUTION PER 100 000),DEATH (HOUSEHOLD PER 100 000),DEATH (PM PER 100 000),DEATH (OZONE PER 100 000),DALYS (AIR POLLUTION PER 100 000),DALYS (PM PER 100 000),"DALYS (HOUSEHOLD, SOLID FUEL PER 100 000)"
0,AFG,1990,95.273780,164.811829,299.477309,250.362910,46.446589,5.616442,10294.745375,1526.332080,8743.370919
1,AFG,1991,95.270656,151.460290,291.277967,242.575125,46.033841,5.603960,6055.582843,914.050740,5126.342495
2,AFG,1992,95.584266,127.896225,278.963056,232.043878,44.243766,5.611822,3771.555336,568.930492,3193.235950
3,AFG,1993,96.581362,124.725141,278.790815,231.648134,44.440148,5.655266,2665.048852,402.437672,2256.751736
4,AFG,1994,98.105844,134.410918,287.162923,238.837177,45.594328,5.718922,1806.602012,271.682035,1531.309943
...,...,...,...,...,...,...,...,...,...,...,...
6463,ZWE,2013,67.033739,153.811116,143.850145,113.456097,27.589603,4.426291,3721.388762,711.027975,2988.177555
6464,ZWE,2014,64.473769,148.600446,138.200536,108.703566,26.760618,4.296971,3555.853453,686.224010,2847.849462
6465,ZWE,2015,62.380257,144.337533,132.752553,104.340506,25.715415,4.200907,3067.463106,592.143359,2455.706254
6466,ZWE,2016,60.581842,140.887702,128.692138,100.392287,25.643570,4.117173,592.696754,117.836333,470.928946
6467,ZWE,2017,59.223255,137.633004,125.028843,96.235996,26.166182,4.052495,114.713300,23.976304,89.946745

In [59]:
death_by_cause_qn4 = death_by_cause_data.copy()
death_by_cause_qn4 = death_by_cause_qn4.set_index(["COUNTRY","YEAR"])
death_by_cause_qn4["AVERAGE DEATHS PER 100 000"] = death_by_cause_qn4.mean(axis=1)
death_by_cause_qn4.drop(columns=["DEATH (CHRONIC RESPIRATORY DISEASE PER 100 000)",
                                "DEATH (LOWER RESPIRATORY INFECTION PER 100 000)",
                               "DEATH (AIR POLLUTION PER 100 000)", "DEATH (HOUSEHOLD PER 100 000)",
                                "DEATH (PM PER 100 000)","DEATH (OZONE PER 100 000)"],inplace=True)
death_by_cause_qn4 = death_by_cause_qn4.reset_index()
# death_by_cause_qn4 = pd.pivot_table(death_by_cause_qn4,index=["COUNTRY"],
#                                                     values=["AVERAGE DEATHS PER 100 000"],columns=["YEAR"],aggfunc="mean")
death_by_cause_qn4

        COUNTRY  YEAR  AVERAGE DEATHS PER 100 000
0           AFG  1990                  143.664810
1           AFG  1991                  138.703640
2           AFG  1992                  130.723836
3           AFG  1993                  130.306811
4           AFG  1994                  134.971685
...         ...   ...                         ...
1205983     ZWE  2013                   85.027832
1205984     ZWE  2014                   81.839318
1205985     ZWE  2015                   78.954528
1205986     ZWE  2016                   76.719119
1205987     ZWE  2017                   74.723296

[1205988 rows x 3 columns]

In [54]:
owid_dalys_air_pollution_risk_data_by_country
owid_dalys_air_pollution_risk_qn4 = owid_dalys_air_pollution_risk_data_by_country.copy()
owid_dalys_air_pollution_risk_qn4 = owid_dalys_air_pollution_risk_qn4.set_index(["COUNTRY","YEAR"])
owid_dalys_air_pollution_risk_qn4["AVERAGE DALYS PER 100 000"] = owid_dalys_air_pollution_risk_qn4.mean(axis=1)
owid_dalys_air_pollution_risk_qn4.drop(columns=["DALYS (AIR POLLUTION PER 100 000)",
                                "DALYS (PM PER 100 000)","DALYS (HOUSEHOLD, SOLID FUEL PER 100 000)"],inplace=True)
owid_dalys_air_pollution_risk_qn4 = owid_dalys_air_pollution_risk_qn4.reset_index()
# owid_dalys_air_pollution_risk_qn4 = pd.pivot_table(owid_dalys_air_pollution_risk_qn4,index=["COUNTRY"],
#                                                     values=["AVERAGE DALYS PER 100 000"],columns=["YEAR"],aggfunc="mean")
owid_dalys_air_pollution_risk_qn4

     COUNTRY  YEAR  AVERAGE DALYS PER 100 000
0        AFG  1990                6854.816125
1        AFG  1991                4031.992026
2        AFG  1992                2511.240593
3        AFG  1993                1774.746087
4        AFG  1994                1203.197997
...      ...   ...                        ...
5455     ZWE  2013                2473.531430
5456     ZWE  2014                2363.308975
5457     ZWE  2015                2038.437573
5458     ZWE  2016                 393.820678
5459     ZWE  2017                  76.212117

[5460 rows x 3 columns]

### Research Question 5

In [55]:
owid_dalys_air_pollution_risk_qn5 = owid_dalys_air_pollution_risk_qn4.groupby(["COUNTRY"])[["AVERAGE DALYS PER 100 000"]].mean()
owid_dalys_air_pollution_risk_qn5

         AVERAGE DALYS PER 100 000
COUNTRY
AFG                    1670.571663
AGO                    1443.001759
ALB                   88017.698655
AND                     146.600718
ARE                     158.989871
...                            ...
WSM                     519.986534
YEM                     654.310083
ZAF                     503.260540
ZMB                     922.924102
ZWE                    1965.347313

[195 rows x 1 columns]

In [61]:
death_by_cause_qn5 = death_by_cause_qn4.groupby(["COUNTRY"])[["AVERAGE DEATHS PER 100 000"]].mean()
death_by_cause_qn5

         AVERAGE DEATHS PER 100 000
COUNTRY
AFG                      117.999253
AGO                       91.525647
ALB                       29.602842
AND                       14.661842
ARE                       44.900843
...                             ...
WSM                       47.167711
YEM                       61.694706
ZAF                       54.654996
ZMB                       80.610450
ZWE                       80.586230

[196 rows x 1 columns]

# Results Discussion

Present and discuss your research results. Treat each of your research questions separately. Focus in particular on the results that are most interesting, surprising, or important. Discuss the consequences or implications. Interpret the results: if the answers are unexpected, then see whether you can find an explanation for them, such as an external factor that your analysis did not account for. Include some visualization of your results (a graph, plot, bar chart, etc.). These plots should be created programmatically in the code you submit.

### Research Question 1

### Research Question 2

### Research Question 3

### Research Question 4

### Research Question 5

# Conclusion and recommendations

Conclude the findings from your project, and any recommendations or further works.

# References

Cite any references made, and links where you obtained the data.

You may wish to read about how to use markdown in Jupyter notebook to make your report easier to read.
https://www.ibm.com/docs/en/db2-event-store/2.0.0?topic=notebooks-markdown-jupyter-cheatsheet

# Appendix